.dashboard {
    a {
        @extend %inherited-color;
    }

    section {
        @extend %section;
    }

    .dashboard-sub-section {
        margin: 0 !important;
    }

    // scss-lint:disable NestingDepth SelectorDepth
    .row {
        .span12 {
            // unlocks, critical, burned
            .row {
                align-items: stretch;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 20px !important;

                @media (max-width: 767px) {
                    .span4:nth-child(2) {
                        margin-bottom: 20px !important;
                        margin-top: 20px !important;
                    }
                }
            }

            + .span12 {
                margin-bottom: 20px !important;
                margin-top: 0 !important;
            }
        }
    }
}

.newbie {
    @extend %no-background-image;

    hr {
        border-bottom-color: $separator-color !important;
        border-top-color: $separator-color !important;
    }
}

.review-status {
    @extend %borderless;

    li {
        @extend %no-background-color;
        @extend %borderless;
    }
}

.srs-progress {
    ul {
        > li {
            @extend %clear-background;
            @extend %shadowless;
        }

        > li:not(:last-child) {
            border-right: 1px solid $list-separator-color;
        }

        @each $level in $srs-levels {
            > ##{$level} > span {
                @include srs-level($level);
            }
        }
    }
}

.progression {
    .progress-bar {
        background-color: darken($shade-black, 2%);
        box-shadow: $shadow-i;
        height: 1.5rem;

        &__progress {
            @include character('kanji');
        }

        &__progress, &__label {
            height: 1rem;
            margin: 0.25rem;
        }

        &__label, &__extra-label {
            color: $inverted-text-color !important;
            font-size: 0.8rem;
            line-height: 1.2;
        }
    }

    .progress-entries {
        color: $inverted-text-color !important;
    }
}

.kotoba-table-list {
    @extend %list;

    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    min-height: 100%;
    position: relative !important;

    span, time, i {
        @extend %inherited-color;
    }

    table {
        margin-bottom: 38px !important;

        @each $type in $character-types {
            [id^="#{$type}"] {
                @include character($type, $inverted: true);
            }
        }
    }

    .none-available {
        @extend %clear-background;
        @extend %shadowless;

        > td {
            @extend %borderless;

            div {
                @extend %shadowless;

                border-color: $separator-color !important;
            }

            i::before {
                color: $separator-color !important;
            }
        }

        &:hover {
            @extend %no-background-color;

            filter: none !important;
        }
    }

    .see-more {
        bottom: 0 !important;
        position: absolute !important;
        width: 100% !important;
    }
}

.forum-topics-list,
.blog {
    @extend %list;

    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.see-more {
    @extend %clear-background;
    @extend %shadowless;

    div {
        @extend %borderless;
        @extend %shadowless;
    }

    a {
        @extend %no-background-image;

        background-color: darken($section-color, 3%) !important;
        border-radius: 0 0 5px 5px !important;
        box-shadow: 0 -1px 1px $shadow-color !important;
        margin-top: 3px !important;
    }
}
