.individual-item {
    .level-icon {
        background-color: $shade-black !important;
    }

    .span12 > section {
        @extend %section;

        padding: 10px !important;
    }

    section > h2 {
        border-bottom: 1px solid $iron-grey !important;
    }

    h2, .additional-info {
        @extend %no-background-color;
    }

    h2 {
        color: $text-color !important;
    }

    .new-synonyms li {
        @extend %button;

        button {
            @extend %no-background-color;
        }
    }

    section.collocation {
        .word-type__button {
            @extend %shadowless;

            border-radius: 0 !important;
        }

        .word-type__button--selected::after {
            @extend %no-background-color;
            @extend %no-background-image;
        }

        :not(.word-type__button--selected) {
            @extend %no-background-color;
        }

        .word-types--with-collocations::after {
            box-shadow: $shadow-color 0 0 5px 0;
        }
    }

    + section {
        @extend %section;

        margin-left: auto !important;
        margin-right: auto !important;
        width: 1170px !important;

        @media (min-width: 979px) and (max-width: 1199px) {
            width: 940px !important;
        }

        @media (min-width: 767px) and (max-width: 979px) {
            width: 724px !important;
        }

        @media (max-width: 767px) {
            width: calc(100% - 40px) !important;
        }

        [class$=-streak] span {
            background-color: inherit !important;
        }
    }
}
