.level-icon {
    color: $text-color !important;
}

.next, .previous {
    a {
        color: $text-color !important;
    }
}

.alt-character-list {
    a {
        color: $text-color !important;
    }
}

.character-item__badge {
    @extend %shadowless;

    color: $character-text-color !important;
}

section.character-grid {
    @extend %section;

    padding: 10px;

    header {
        @extend %no-background-color;

        margin-bottom: 5px;
    }
}
