// @import 'session/summary';
// @import 'session/lesson';
// @import 'session/review';

// Session Layout:
//
//   #question
//     #summary-button
//     #stats
//     #character
//     #question-type
//     #answer-form
//   #additional-content
//   #information

// #related-items {
//     @each $item in radical, kanji, vocabulary {
//         a > [class^=#{$item}] {
//             @include character($item);
//         }
//     }
//
//     span {
//         @extend %icon;
//
//         > i {
//             @extend %inherited-color;
//         }
//     }
// }

// [id^="loading"] {
//     background-color: $background-color !important;
// }

// // session status header
// #stats,
// #summary-button,
// #header-buttons,
// .menu-bar {
//     color: $text-color !important;
//     z-index: 100 !important;
//
//     * {
//         @extend %no-background-color;
//         @extend %inherited-color;
//     }
// }

// hotkeys in lower right corner
// TODO: not getting applied, even though browser says it is
.hotkeys-menu {
    @extend %button;
}

// question type, reading or meaning
.quiz-input__question-type-container {
    @extend %borderless;
    @include sheet(9);

    &[data-question-type="reading"] {
        @extend %reading;
    }

    &[data-question-type="meaning"] {
        @extend %meaning;
    }

    // > .srs {
    //     left: 70% !important;
    //     top: initial !important;
    //     width: initial !important;
    // }
}

// // #question-type can be a label or a div, of course
// div#question-type, #quiz > div:first-child {
//     height: 5rem;
//     padding: 0;
// }

// div#question-type {
//     align-items: center;
//     display: flex;
//     justify-content: center;
// }

// @each $x in 'up', 'down' {
//     .srs-#{$x} {
//         @extend %no-background-color;
//
//         &::before {
//             color: progress-color($x) !important;
//         }
//     }
// }

// input field for answer
.quiz-input__input-wrapper {
    @include sheet(8);

    .quiz-input__input-container {
        padding: 0 !important;

        @each $x in 'true', 'false' {
            &[correct="#{$x}"] {
                input[type=text][enabled=false] {
                    background-color: progress-color($x) !important;
                }

                button {
                    @extend %no-background-color;
                }
            }
        }
    }

    input {
        @extend %borderless;
        @extend %shadowless;
        @extend %no-background-color;

        border-radius: 0 !important;
        color: $answer-text-color !important;
    }

    button {
        @extend %no-background-color;
        @extend %borderless;
        @extend %shadowless;

        //height: 2.3em !important;

        i {
            color: $answer-text-color !important;
        }
    }
}

// lesson wrapup, last items, item info, kana chart and pronounciation
#additional-content {
    @include sheet(6, $charcoal-grey);

    height: 50px !important;
    margin: 0 !important;
    padding: 0 !important;

    // make sure the list items are aligned nicely
    ul {
        align-items: center !important;
        display: flex !important;
        height: 100% !important;
        margin: 0 !important;

        // indicate that the wrapup function is active
        .additional-content__item--wrap-up.additional-content__item--active {
            span, span:hover::before, span::before {
                background-color: $charcoal-grey !important;
            }

            strong, i {
                text-shadow: 0 0 10px $icon-orange !important;
            }
        }
    }

    // options
    li > a {
        @extend %no-background-color;
        @extend %shadowless;
        @extend %borderless;

        z-index: 7 !important;

        // up arrow
        &::after {
            border-bottom-color: $shade-black !important;
            bottom: -25px !important;
            color: $shade-black !important;
        }

        [class*="-icon"] {
            box-shadow: none !important;
        }
    }
}

// // answer exception popup
// #answer-exception span {
//     background-color: $popover-background-color !important;
//     border-radius: 5px;
//     box-shadow: $answer-exception-shadow !important;
//
//     &::before {
//         display: none !important;
//     }
// }

// // last ten items in the review queue
// #last-items li ul {
//     background-color: $charcoal-grey !important;
//
//     [title*=meaning],
//     [title*=reading] {
//         color: $text-color !important;
//     }
// }

// information about the current item
#information {
    @extend %section;

    z-index: 8 !important;
}

// // show more button
// #all-info {
//     @extend %no-background-color;
// }

// #item-info {
//     h2 {
//         border-bottom-color: $separator-color !important;
//     }
// }

// hiragana chart
// TODO: this doesn't look great, don't remember how it looked before
#kana-chart {
    .kana-chart__tabs {
        border-bottom: 1px solid $separator-color !important;
    }

    .kana-chart__tab--selected {
        border: {
            bottom: none !important;
            left: 1px solid $separator-color !important;
            right: 1px solid $separator-color !important;
            top: 1px solid $separator-color !important;
        }
    }

    .kana-chart__tab {
        @extend %no-background-color;
        @extend %shadowless;

        border-radius: 0 !important;

        &:hover {
            background-color: $section-color !important;
            filter: brightness(0.8) !important;
        }
    }
}

// #additional-content-load {
//     background-color: $section-color !important;
// }
