@import '../colors';
@import '../shadows';

.dropdown-menu {
    background-color: $dropdown-color !important;
    border-radius: 5px !important;
    border: none !important;
    box-shadow: $dropdown-shadow !important;

    .nav-header,
    li a {
        color: $text-color !important;
    }

    li a:hover {
        background-color: $dropdown-hover-color !important;
    }
}


.dropdown-menu::before,
.dropdown-menu::after {
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-bottom-color: $dropdown-color !important;
    color: $dropdown-color !important;
}

