[class|=account-subscription] tr,
[class|=account-billing] tr,
.forum-topics-list tbody tr {
  background-color: <%= Colours::BACKGROUND %> !important;
}

[class|=account-subscription] tr:hover,
[class|=account-billing] tr:hover,
.forum-topics-list tbody tr:hover {
  background-color: <%= Colours::SUBSECTION %> !important;
}

[class|=account-subscription] tr th,
[class|=account-subscription] tr td,
[class|=account-billing] tr th,
[class|=account-billing] tr td,
.forum-topics-list tbody tr th,
.forum-topics-list tbody tr td {
  background-color: transparent !important;
}
