.kanji-icon,
.highlight-kanji,
#character.kanji,
#main-info.kanji,
span.kanji,
.kanji ul li [title=Characters],
#kanji h2,
tr[id|=kanji],
li[id|=kanji],
li[class|=kanji],
.kanji-progress .bar,
.kanji-progress li[id|=kanji] a,
[id$=kanji] .character-item,
.popover.srs .popover-content li:nth-child(2),
.navbar .open.kanji .dropdown-toggle,
.navbar .open.kanji .dropdown-menu {
  background-color: <%= Colours::KANJI %> !important;
  background-image: none !important;
}

.kanji-icon span,
.highlight-kanji,
#character.kanji span,
span.kanji,
#kanji li a,
#kanji h2,
tr[id|=kanji] a span,
tr[id|=kanji] a time,
li[id|=kanji] span,
li[id|=kanji] li,
li[id|=kanji] a,
li[class|=kanji] a,
[id$=kanji] .character-item span,
[id$=kanji] .character-item li,
.popover.srs .popover-content li:nth-child(2),
.navbar .open.kanji .dropdown-menu::before,
.navbar .open.kanji .dropdown-menu::after {
  color: <%= Colours::BACKGROUND %> !important;
}

li.kanji {
  box-shadow: none !important;
}

.navbar .open.kanji .dropdown-menu::before,
.navbar .open.kanji .dropdown-menu::after {
  border-bottom: 9px solid <%= Colours::KANJI %> !important;
}
