.legend ul span {
  color: <%= Colours::BACKGROUND %> !important;
  box-shadow: <%= Shadow::LATTICE_LEGEND %> !important;
  margin-left: 1vh;
  margin-right: 1vh;
}

.legend ul span.locked,
.legend ul span.burned-lattice {
  background-color: <%= Colours::BACKGROUND %> !important;
  color: <%= Colours::TEXT %> !important;
}

.legend ul span.locked {
  background-color: transparent !important;
  color: <%= Colours::LATTICE_LOCKED %> !important;
  box-shadow: none !important;
}
