table {
  background-color: transparent !important;
  border-collapse: separate !important;
}

table tbody > tr {
  background-color: transparent !important;
  border: 5px solid transparent !important;
  border-radius: 5px !important;
}

table tbody > tr:hover {
  background-color: <%= Colours::LIST_HOVER %> !important;
}

[class|=account-subscription] tr,
[class|=account-billing] tr,
.forum-topics-list tbody tr {
  background-color: transparent !important;
}

[class|=account-subscription] tr th,
[class|=account-subscription] tr td,
[class|=account-billing] tr th,
[class|=account-billing] tr td,
.forum-topics-list tbody tr th,
.forum-topics-list tbody tr td {
  background-color: transparent !important;
}
