.navbar .additional span:first-child,
.navbar .title span {
  box-shadow: none !important;
}

.navbar .navbar-inner {
  background-image: none !important;
  background-color: <%= Colours::SUBSECTION %> !important;
  border: none !important;
  box-shadow: <%= Shadow::NAVBAR %> !important;
}

.navbar .dropdown-menu {
  border-radius: 0 5px 5px 5px !important;
}

.navbar .dropdown-toggle span {
  border-color: <%= Colours::BACKGROUND %> !important;
  box-shadow: none !important;
}

.navbar .open .dropdown-toggle {
  background-color: <%= Colours::DROPDOWN %> !important;
  opacity: 0.80;
}

.navbar .open.radicals .dropdown-menu li a,
.navbar .open.kanji .dropdown-menu li a,
.navbar .open.vocabulary .dropdown-menu li a,
.navbar .open.radicals .dropdown-menu .nav-header,
.navbar .open.kanji .dropdown-menu .nav-header,
.navbar .open.vocabulary .dropdown-menu .nav-header,
.navbar .open .dropdown-toggle,
.navbar .open .dropdown-toggle span,
.navbar .open .dropdown-toggle i {
  color: <%= Colours::BACKGROUND %> !important;
}


/* lessons + reviews + account */

.navbar .lessons span,
.navbar .reviews span {
  background-color: <%= Colours::SUBSECTION %> !important;
  background-image: none !important;
  border-color: <%= Colours::BACKGROUND %> !important;
}

.navbar .account .dropdown-toggle span {
  border: 5px solid !important;
  border-color: <%= Colours::BACKGROUND %> !important;
}

.navbar .open.account .dropdown-menu {
  border-radius: 5px 0 5px 5px !important;
}
