.popover {
  background-color: <%= Colours::POPOVER_BACKGROUND %> !important;
  border-color: <%= Colours::POPOVER_BORDER %> !important;
  box-shadow: <%= Shadow::POPOVER %> !important;
}
.popover .popover-title {
  background-color: transparent !important;
  box-shadow: none !important;
  opacity: inherit;
}

.popover.srs .arrow,
.popover.srs .arrow::after,
.popover.lattice .arrow,
.popover.lattice .arrow::after {
  border-right-color: <%= Colours::POPOVER_BORDER %> !important;
  opacity: inherit;
}

.popover.srs .popover-content li {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
  border: none !important;
  border-radius: 5px;
  box-shadow: <%= Shadow::POPOVER %>;
}

.popover.srs .popover-content li span {
  color: <%= Colours::BACKGROUND %> !important;
}


.popover.lattice .bar {
  background-color: <%= Colours::POPOVER_PROGRESS %> !important;
  background-image: none !important;
  line-height: 100%;
}
