/* search bar below navbar */

#search.in {
  box-shadow: inset 0 -15px 15px -15px <%= Colours::SHADOW %> !important;
}

#search #query {
  border: none;
  background-image: none !important;
  background-color: <%= Colours::SUBSECTION %> !important;
  box-shadow: 3px 3px 3px <%= Colours::INSET_SHADOW %> inset !important;
}


#search .search-list {
  border: none !important;
  background-color: transparent !important;
}

#search .search-list .btn {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}


#search .search-results .multi-character-grid {
  box-shadow: 3px 3px 3px <%= Colours::SHADOW %> !important;
}

#search .search-results .multi-character-grid .character-item {
  border-bottom: 1px solid <%= Colours::LIST_SEPARATOR %> !important;
}

#search .search-results .multi-character-grid .character-item:last-child {
  border: none !important;
}
