/* search bar below navbar */

#search.in {
  box-shadow: <%= Shadow::SEARCHBAR_IN %> !important;
}

#search #query {
  border: none;
  background-image: none !important;
  background-color: <%= Colours::SUBSECTION %> !important;
  box-shadow: <%= Shadow::SEARCH_QUERY %> !important;
}


#search .search-list {
  border: none !important;
  background-color: transparent !important;
}

#search .search-list .btn {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}


#search .search-results .multi-character-grid {
  box-shadow: <%= Shadow::GRID %> !important;
}

#search .search-results .multi-character-grid .character-item {
  border-bottom: 1px solid <%= Colours::LIST_SEPARATOR %> !important;
}

#search .search-results .multi-character-grid .character-item:last-child {
  border: none !important;
}
