.account-subscription .account-subscription-plan,
#account-subscription-coupon-form #coupon,
.account-subscription-payment-processor-info,
.account-subscription form .control-group input[type="text"],
div.forum-posts-list table,
.dashboard .review-status,
.dashboard .srs-progress,
.dashboard .progression,
.dashboard .recent-unlocks,
.dashboard .low-percentage,
.dashboard .recent-retired,
.dashboard .forum-topics-list,
.dashboard .blog,
.community #top-members,
.community #new-members,
.community #chat,
#reviews #information,
#reviews-summary #correct,
#reviews-summary #incorrect,
#progress,
section[class|=lattice],
.lattice-progression.legend,
.lattice-percentages.legend,
.individual-item .span12 > section,
aside.additional-info.level-list.legend,
section[id|=level] {
  background-color: <%= Colours::SUBSECTION %> !important;
  box-shadow: <%= Shadow::SUBSECTION %> !important;
  border-radius: 5px !important;
  border: none !important;
}
