[id^=note-] form fieldset {
  background-color: <%= Colours::TEXTFORM %> !important;
  border-radius: 5px;
  box-shadow: <%= Shadow::TEXTFORM %> inset !important;
}

[id^=note-] form fieldset textarea {
  -webkit-text-fill-color: <%= Colours::TEXT %> !important;
  color: <%= Colours::TEXT %> !important;
}

[id^=note-] form fieldset button {
  background-color: transparent !important;
}
