li[id|=vocabulary],                             /* level, search */
.vocabulary-icon,                               /* info, profile */
span.vocabulary-highlight,                      /* info */
span.highlight-vocabulary,                      /* review, lesson */
span.vocabulary,                                /* review, lesson */
#character.vocabulary,                          /* review */
li.vocabulary ul > li[title=Characters],        /* review */
#main-info.vocabulary,                          /* lesson */
#vocabulary h2,                                 /* lesson summary */
li[class|=vocabulary],                          /* review summary, lesson */
tr[id|=vocabulary],                             /* unlock, critical, burned */
.vocabulary-progress .bar,                      /* dashboard, profile */
.vocabulary-progress li[id|=radical] a,         /* dashboard, profile */
.popover.srs .popover-content li:nth-child(3),  /* dashboard */
.navbar .open.vocabulary .dropdown-menu,        /* navbar */
.navbar .open.vocabulary .dropdown-toggle {     /* navbar */
  background-color: <%= Colours::VOCABULARY %> !important;
  background-image: none !important;
}

li[id|=vocabulary] span,                          /* level, search */
.vocabulary-icon span,                            /* info, profile */
span.vocabulary-highlight,                        /* info */
span.highlight-vocabulary,                        /* review, lesson */
span.vocabulary,                                  /* review, lesson */
#character.vocabulary span,                       /* review */
li.vocabulary ul > li[title=Characters],          /* review */
li[class|=vocabulary] a,                          /* review summary */
#vocabulary h2,                                   /* lesson summary */
#vocabulary li a,                                 /* */
tr[id|=vocabulary] a span,                        /* unlock, critical, burned */
tr[id|=vocabulary] a time,                        /* unlock, burned */
li[id|=vocabulary] li,                            /* search */
li[id|=vocabulary] a,                             /* dashboard, search */
.popover.srs .popover-content li:nth-child(3),    /* popover */
.navbar .open.vocabulary .dropdown-menu::before,  /* navbar */
.navbar .open.vocabulary .dropdown-menu::after {  /* navbar */
  color: <%= Colours::BACKGROUND %> !important;
}

li.vocabulary,
span.vocabulary,
.vocabulary-icon {
  box-shadow: none !important;
}

.navbar .open.vocabulary .dropdown-menu::before,
.navbar .open.vocabulary .dropdown-menu::after {
  border-bottom: 9px solid <%= Colours::VOCABULARY %> !important;
}

.navbar .vocabulary .dropdown-toggle:hover span {
  border-color: <%= Colours::VOCABULARY %> !important;
}

.navbar .open.vocabulary .dropdown-toggle:hover span {
  border-color: <%= Colours::BACKGROUND %> !important;
}
