@mixin sheet($zindex, $bgcolor: $shade-black, $img: none) {
    background-color: $bgcolor !important;
    box-shadow: $shadow-v !important;
    position: relative !important;
    z-index: $zindex !important;

    @if ($img != true) {
        background-image: $img !important;
    }
}

@mixin srs-level($level, $text-only: true) {
    @if $text-only {
        color: srs-color($level) !important;
    } @else {
        background-color: srs-color($level) !important;
    }
}

@mixin percent($range, $text-only: true) {
    @if $text-only {
        color: percent-color($range) !important;
    } @else {
        background-color: percent-color($range) !important;
    }
}

@mixin character($type, $inverted: false) {
    @if $inverted {
        @extend %#{$type}-inverted;
    } @else {
        @extend %#{$type};
    }
}

@mixin dropdown-menu($type) {
    .open.#{$type} {
        .dropdown-menu,
        .dropdown-toggle {
            @include character($type);
        }

        .dropdown-menu::before,
        .dropdown-menu::after {
            border-bottom: 9px solid character-color($type) !important;
            color: character-color($type) !important;
        }

        .dropdown-toggle:hover span {
            border-color: $navbar-color !important;
        }
    }

    .#{$type} {
        .dropdown-toggle:hover span {
            border-color: character-color($type) !important;
        }
    }
}
