// dashboard background
$wk-cdn:               'https://cdn-staging.wanikani.com/assets/default-v2';
$background-image-url: url('#{$wk-cdn}/bg-texture-f26fc7a5696f53a272eaffdfdd43eb215d33ef508c89ed2d0501903eaad2f29a.png');
$locked-image-url:     url('#{$wk-cdn}/stripes-5e8494366c1615da046bd0f587cfeef6786e7ba17863df1329767ca3b89140e0.png');

$character-types: (radical, kanji, vocabulary);
$srs-levels:      (apprentice, guru, master, enlightened, burned);
