@each $item in radical, kanji, vocabulary {
    // lesson header background and foreground color
    #main-info.#{$item} {
        @include character($item, $inverted: true);

        #character {
            color: character-color($item) !important;
        }
    }

    #supplement-info,
    #batch-items {
        [class^=#{$item}] {
            @include character($item);
        }
    }
}

#lessons {
    // lesson header
    header {
        @include sheet(11);

        position: relative !important;
    }
}

#main-info {
    @extend %shadowless;
    @extend %no-background-image;
}

// lesson navigation
#supplement-nav {
    @include sheet(9);

    background-color: $charcoal-grey !important;

    li::before {
        border-bottom-color: $lesson-color !important;
        bottom: -50px !important;
        color: $shade-black !important;
    }
}

#next-btn:hover,
#prev-btn:hover {
    background-color: $section-color !important;
    border-radius: 5px !important;
    filter: brightness(0.8) !important;
}

// lesson content
#supplement-info {
    @extend %section;

    margin-top: 30px !important;

    h2 {
        border-bottom-color: $separator-color !important;
    }
}

// lesson batch list
#batch-items {
    position: relative !important;
}

// icons for batch list, breakdown and examples
#supplement-info,
#batch-items {
    li span {
        @extend %icon;
    }
}

[id*="ready-continue"] {
    background-color: $lesson-color !important;

    @each $type in $character-types {
        [id$=#{$type}] {
            // FIXME: move out of loop
            @extend %no-background-color;

            span {
                @include character($type);
            }

            // FIXME: move out of loop
            h2 {
                @extend %no-background-color;

                color: $text-color !important;
            }

        }
    }
}

// #screen-lesson-ready #lesson-ready-continue
[id*="lesson-ready"] {
    background-color: $section-color !important;
}

[data-index="quiz"] > span {
    @extend %button;
}
