[id*="summary"] {
    @each $item in radical, kanji, vocabulary {
        // 3 lesson summary sections
        [id^=#{$item}] {
            @extend %section;

            // header for lesson summary
            h2 {
                color: character-color($item) !important;
            }

            // always show the box on the lesson summary
            div {
                display: block !important;
            }
        }

        ul > .#{$item} {
            @include character($item);
        }
    }

    // back button and start session
    nav {
        @extend %borderless;
    }

    h2 {
        // @extend %clear-background;
        background-color: darken($section-color, 3%) !important;
        border-radius: 5px 5px 0 0 !important;
        box-shadow: $shadow-v !important;

        strong {
            color: inherit !important;
        }
    }

    h3 {
        border-bottom-color: $summary-h3-color !important;

        strong, span {
            background-color: $shade-black !important;
            color: $summary-h3-color !important;
        }
    }

    li {
        @extend %icon;
        margin-left: 5px !important;
        margin-right: 5px !important;

        * {
            @extend %inherited-color;
        }
    }

    #correct, #incorrect {
        @extend %section;
    }

    #correct h2 {
        color: $correct-color !important;
    }

    #incorrect h2 {
        color: $incorrect-color !important;
    }
}

#back-dashboard {
    @extend %click-input-element;
}

#start-session {
    @extend %button;

    a {
        background-color: $icon-green !important;
        color: $inverted-text-color !important;
    }

    .disabled {
        background-color: $reviews-button-color !important;
        color: $text-color !important;
    }
}

#review-stats-answered-correctly {
    border-radius: 5px !important;
    box-shadow: $review-stats-shadow !important;
}

#review-stats-radicals,
#review-stats-kanji,
#review-stats-vocabulary {
    background-color: $review-stats-color !important;
    box-shadow: $review-stats-shadow !important;

    .review-stats-total span {
        color: $text-color !important;
    }
}

#review-stats-radicals {
    border-radius: 5px 0 0 5px;
}

#review-stats-vocabulary {
    border-radius: 0 5px 5px 0;
}

// hover text for character items
.hover li {
    color: $text-color !important;
}
