/* settings page */

div.account div.page-list {
	background-color: <%= Colours::SUBSECTION %> !important;
}

div.account div.page-list li a {
	background-color: <%= Colours::LIST_ITEM %> !important;
	background-image: none !important;
	border: none;
	border-right: 1px solid;
	border-color: <%= Colours::LIST_SEPARATOR %>;
}

div.account div.page-list li:last-child a {
	border: none;
	border-radius: 0 5px 5px 0;
}

div.account div.page-list li:first-child a {
	border-radius: 5px 0 0 5px;
}


div.account #user_lesson_batch_size {
	background-color: <%= Colours::BUTTON_BACKGROUND %> !important;
	border-color: <%= Colours::BUTTON_BORDER %> !important;
}


div.account .btn {
	background-color: <%= Colours::BUTTON_BACKGROUND %> !important;
	background-image: none !important;
	border: 1px solid;
	border-color: <%= Colours::BUTTON_BORDER %> !important;
}
