/* settings page */

div.account .btn {
	border: 1px solid;
	background-image: none !important;
	border-color: rgb(61, 174, 233) !important;
	background-color: rgb(49, 54, 59) !important;
}

div.account .page-list
{
	background-color: rgb(35, 38, 41) !important;
}

div.account .page-list ul li a
{
	background-color: <%= Colours::LIST_ITEM %> !important;
	background-image: none !important;
	border: none;
	border-right: 1px solid;
	border-color: <%= Colours::LIST_SEPARATOR %>;
}
