div.account-subscription div.account-subscription-plan {
	background-color: <%= Colours::SUBSECTION %> !important;
	border: none !important;
	border-radius: 5px !important;
	box-shadow: 5px 5px 5px <%= Colours::SHADOW %>;
}

div.account-subscription div.account-subscription-plan.account-subscription-plan-lifetime.account-subscription-plan-active {
	border-color: <%= Colours::SUB_ACTIVE %> !important;
}


/*
div.account-subscription div.account-subscription-plan-active {
    box-shadow: 5px 5px 5px 10px <%= Colours::SUB_ACTIVE_SHADOW %>,
		-5px -5px 5px 10px <%= Colours::SUB_ACTIVE_SHADOW %>;
}
*/

div.account-subscription .account-subscription-plans .account-subscription-plan .account-subscription-plan-select button.btn[type="button"] {
	background-color: <%= Colours::SUBSECTION %> !important;
	border-radius: 0 0 5px 5px !important;
}

div.account-subscription .account-subscription-plans .account-subscription-plan.account-subscription-plan-active .account-subscription-plan-select button.btn[type="button"] {
	background: <%= Colours::SUB_ACTIVE %> !important;
}


#account-subscription-coupon-form #coupon {
	background-color: <%= Colours::SUBSECTION %> !important;
	border: none;
	border-radius: 5px !important;
	box-shadow: 5px 5px 5px <%= Colours::SHADOW %>;
}


div.account-subscription-payment .table-inverted tr {
	background-color: <%= Colours::BACKGROUND %> !important;
}

div.account-subscription-payment .table-inverted tr:hover {
	background-color: <%= Colours::SUBSECTION %> !important;
}

div.account-subscription-payment .table-inverted tr th,
div.account-subscription-payment .table-inverted tr td {
	background-color: transparent !important;
}


div.account-subscription-payment-processor-info {
	background-color: <%= Colours::SUBSECTION %> !important;
	border: none;
	border-radius: 5px !important;
	box-shadow: 5px 5px 5px <%= Colours::SHADOW %>;
}


div.account-subscription-details tr {
	background-color: <%= Colours::BACKGROUND %> !important;
}

div.account-subscription-details tr:hover {
	background-color: <%= Colours::SUBSECTION %> !important;
}

div.account-subscription-details tr th,
div.account-subscription-details tr td {
	background-color: transparent !important;
}


div.account-subscription-payment-submit button[type=submit]:disabled {
	background-color: <%= Colours::SUB_ACTIVE %> !important;
	border-radius: 5px !important;
	box-shadow: 5px 5px 5px <%= Colours::SHADOW %>;
}
