.dashboard {
    // unlocks, critical, burned
    .row .row {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }
}

.review-status {
    @extend %subsection;

    border: 1px hidden !important;

    li {
        background-color: transparent !important;
        border: none !important;
    }
}

.srs-progress {
    @extend %subsection;

    ul > li {
        background-color: transparent !important;
        background-image: none !important;
        border-right: 1px solid $list-separator-color;
        box-shadow: none !important;
    }

    ul > #burned span {
        @extend %burned-text;
    }

    ul > #enlightened span {
        @extend %enlightened-text;
    }

    ul > #master span {
        @extend %master-text;
    }

    ul > #guru span {
        @extend %guru-text;
    }

    ul > #apprentice span {
        @extend %apprentice-text;
    }

    li:first-child {
        border-radius: 5px 0 0 5px !important;
    }

    li:last-child {
        border: 0;
        border-radius: 0 5px 5px 0 !important;
    }
}

// scss-lint:disable QualifyingElement
section.progression {
    @extend %subsection;

    hr {
        border-bottom: 1px solid $background-color !important;
        border-top: 1px solid $background-color !important;
        color: $background-color !important;
    }

    span,
    span > i {
        color: $text-color !important;
    }

    .lattice-single-character {
        background-image: none !important;

        ul > li {
            background-color: transparent !important;
            padding: 2px !important;
        }

        @each $type in radical, kanji {
            li[id^=#{$type}] > a {
                @extend %#{$type}-background-color;
                filter: brightness(0.7);
            }
        }
    }

    [class$=-progress] {
        background-color: transparent !important;
    }
}

.recent-unlocks,
.low-percentage,
.recent-retired {
    @extend %subsection;

    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.kotoba-table-list {
    min-height: 100%;

    tr {
        background-color: transparent !important;

        td {
            border-bottom: 1px solid $list-separator-color !important;
        }
    }

    .none-available > td {
        border-bottom: none !important;
    }

    @each $type in radical, kanji, vocabulary {
        tr[id^=#{$type}] {
            span, time, i {
                color: symbol-color($type) !important;
            }
        }
    }

    tr:last-child {
        border: none !important;
    }
}

.none-available,
.see-more {
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;

    div {
        border: none !important;
        box-shadow: none !important;
    }
}

.none-available:hover {
    background-color: transparent !important;
}

.see-more a {
    background-image: none !important;
}

.forum-topics-list,
.blog {
    @extend %subsection;

    margin-bottom: 0 !important;
    margin-top: 0 !important;
    min-height: 100% !important;

    hr {
        border-color: $list-separator-color !important;
        color: $list-separator-color !important;
    }
}

.dashboard-sub-section h3 {
    background-color: transparent !important;
    background-image: none !important;
    border-bottom: 2px solid $list-separator-color !important;
    box-shadow: none !important;
    color: $text-color !important;
    padding-bottom: 3px !important;
    padding-top: 3px !important;
    text-align: left !important;

    .heading-symbol {
        border: none !important;
        box-shadow: none !important;
        display: inline !important;
        margin-left: 0 !important;
        margin-right: 5px !important;
    }

    i::before {
        color: $text-color !important;
    }
}
