.review-status {
    @extend %section;

    border: 1px hidden !important;

    li {
        @extend %no-background-color;
        @extend %borderless;
    }
}

.srs-progress {
    @extend %section;

    ul > li {
        @extend %clear-background;
        @extend %shadowless;

        border-right: 1px solid $list-separator-color;
    }

    @each $level in $srs-levels {
        ul > ##{$level} span {
            @include srs-level($level);
        }
    }

    li:first-child {
        border-radius: 5px 0 0 5px !important;
    }

    li:last-child {
        border: 0;
        border-radius: 0 5px 5px 0 !important;
    }
}

// scss-lint:disable QualifyingElement
section.progression {
    @extend %section;

    hr {
        border-bottom: 1px solid $background-color !important;
        border-top: 1px solid $background-color !important;
        color: $background-color !important;
    }

    span,
    span > i {
        color: $text-color !important;
    }

    a[lang="ja"] * {
        @extend %inherited-color;
    }

    .lattice-single-character {
        @extend %no-background-image;

        li {
            @extend %no-background-color;
            padding: 2px !important;
        }

        a {
            @extend %shadowless;
            filter: brightness(0.7);
        }

        @each $type in radical, kanji {
            li[id^="#{$type}"] > a {
                @include character($type);
            }
        }
    }

    [class$="-progress"] {
        @extend %no-background-color;
    }
}

.recent-unlocks,
.low-percentage,
.recent-retired {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.kotoba-table-list {
    @extend %section;
    @extend %list;

    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;

    min-height: 100%;

    tr a * {
        @extend %inherited-color;
    }

    .none-available {
        @extend %clear-background;
        @extend %shadowless;

        > td {
            @extend %borderless;
        }

        &:hover {
            @extend %no-background-color;
        }
    }

    @each $type in $character-types {
        tr[id^="#{$type}"] a {
            @include character($type, $inverted: true);
        }
    }
}

.forum-topics-list,
.blog {
    @extend %section;
    @extend %list;

    a {
        color: $text-color !important;
    }
}

.see-more {
    @extend %clear-background;
    @extend %shadowless;

    div {
        @extend %borderless;
        @extend %shadowless;
    }

    a {
        @extend %no-background-image;

        background-color: darken($section-color, 3%) !important;
        border-radius: 0 0 5px 5px !important;
        box-shadow: 0 -1px 1px $shadow-color !important;
        color: $text-color !important;
        margin-top: 3px !important;
    }
}
