@each $item in radical, kanji, vocabulary {
    .#{$item}-icon,
    .#{$item}-highlight {
        @extend %#{$item}-background;
    }
}

[class$=-highlight] {
    box-shadow: none !important;
}

// level and symbol icons

.individual-item {
    .span12 > section {
        @extend %section;

        padding: 10px !important;
    }

    section > h2 {
        border-bottom: 1px solid $iron-grey !important;
    }


    h2, [id|=radical], .additional-info {
        background-color: transparent !important;
    }

    h2, [id|=radical] a {
        color: $text-color !important;
    }
}

#progress {
    @extend %section;

    @media (min-width: 1200px) {
        width: 1170px !important;
    }

    margin-left: auto !important;
    margin-right: auto !important;

    [class$=-streak] span {
        background-color: $correct-progress-color !important;
    }
}
