.level-icon {
    background-color: $shade-black !important;
}

.individual-item {
    .span12 > section {
        @extend %section;

        padding: 10px !important;
    }

    section > h2 {
        border-bottom: 1px solid $iron-grey !important;
    }

    h2, .additional-info {
        @extend %no-background-color;
    }

    h2 {
        color: $text-color !important;
    }
}

#progress {
    @extend %section;

    @media (min-width: 1200px) {
        width: 1170px !important;
    }

    margin-left: auto !important;
    margin-right: auto !important;

    [class$=-streak] span {
        background-color: $correct-progress-color !important;
    }
}
