.locked-item, .character-item.locked {
    @extend %locked-background;
}

// scss-lint:disable QualifyingElement
section[class^=lattice-] {
    @extend %section;

    padding: 10px;

    ul {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
    }

    li {
        @extend %no-background-color;

        margin: 1vh 10px !important;

        > a {
            @extend %no-background-color;
            @extend %shadowless;

            filter: brightness(0.8) !important;
        }
    }

    li:not([data-sorted]) > a {
        @extend %locked;
    }

    [data-sorted] {
        @each $range in ('0-20', '21-40', '41-60', '61-80', '81-100') {
            .percentage-#{$range} {
                @include percent($range);
            }
        }

        @each $level in apprentice, guru, master, enlighten, burned {
            .#{$level}-lattice {
                @include srs-level($level);
            }
        }
    }
}
