#lessons {
    @each $item in radical, kanji, vocabulary {
        [class^="highlight-#{$item}"],
        [class^=#{$item}] {
            @extend %#{$item}-background;
        }

        #supplement-info {
            [class^=#{$item}] {
                @extend %icon;
            }
        }
    }

    header {
        box-shadow: $lessons-header-shadow !important;
    }

    [class^="highlight"] {
        border-radius: 3px !important;
    }

    #batch-items {
        position: relative !important;

        li > span {
            @extend %icon;
        }
    }
}
