.level-icon {
    color: $text-color !important;
}

.next, .previous {
    a {
        color: $text-color !important;
    }
}

.alt-character-list {
    a {
        color: $text-color !important;
    }
}

// scss-lint:disable QualifyingElement
section[id|=level] {
    @extend %section;

    padding: 10px;

    header {
        @extend %no-background-color;

        margin-bottom: 5px;
    }
}
