.avatar {
    @extend %main-background;

    box-shadow: $shadow-i !important;

    img {
        box-shadow: $shadow !important;
    }
}

// user info section below avatar
.user-info {
    @include sheet(10, $user-info-background-color);

    &::after {
        border-bottom-color: $user-info-background-color !important;
    }
}

// count under srs badges below user info
.srs-levels li span {
    @extend %no-background-color;
    @extend %shadowless;
}

// the wall of shame...
.wall-of-shame {
    @extend %no-background-color;

    h3 > span {
        background-color: $shade-black !important;
        box-shadow: $shadow-i !important;
    }
}
