.srs-up,
.srs-down {
    background-color: transparent !important;
    color: $background-color !important;
}

#lesson-ready-continue,
#quiz-ready-continue,
#supplement-info {
    background-color: $lesson-color !important;

    @each $type in radical, kanji, vocabulary {
        [id$=#{$type}] {
            background-color: transparent !important;

            h2 {
                background-color: transparent !important;
                color: $text-color !important;
            }

            span {
                @extend %#{$type}-background-color;
            }
        }
    }
}

#supplement-nav {
    background-color: transparent !important;

    li::before {
        border-color: transparent transparent $lesson-color !important;
    }
}


#supplement-info {
    border-radius: 5px;
    box-shadow: $supplement-info-shadow !important;

    blockquote {
        background-color: $lesson-color !important;
    }
}

#next-btn:hover,
#prev-btn:hover {
    background-color: $background-color !important;
    opacity: 0.5;
}

#summary-button i,
#stats i,
#stats span {
    color: $background-color !important;
}

// scss-lint:disable Comment
/*[[REVIEW_CHAR_BG]]*/

#correct,
#incorrect {
}

#question-type {
    background-image: none !important;
    border: 0 !important;
    box-shadow: $question-type-shadow !important;
    margin: 0 !important;
    padding: .67em 0 !important;

    &.reading {
        background-color: $reading-background-color !important;
    }

    &.meaning {
        background-color: $meaning-background-color !important;
    }
}


.meaning,
.reading {
    background-color: transparent !important;
    border-color: transparent !important;
}

#additional-content {
    li {
        span {
            background-color: $background-color !important;
            border-color: $subsection-color !important;
            border-right: 1px solid $addcon-sep-color !important;
            box-shadow: none !important;
        }

        span::before {
            background-color: inherit !important;
            box-shadow: none !important;
            color: $text-color !important;
        }

        span:hover::before {
            background-color: $background-color !important;
            box-shadow: none !important;
            color: $text-color !important;
        }

        &::before {
            border-color: transparent transparent $subsection-color !important;
        }

        &:last-child span {
            border-right: none !important;
        }
    }

    // this BS requires extra handling apparently
    ul .wrap-up-selected {
        span,
        span:hover::before {
            background-color: $background-color !important;
        }

        span::before {
            background-color: inherit !important;
        }
    }
}


#additional-content-load {
    background-color: $subsection-color !important;
}

#answer-exception {
    span {
        background-color: $subsection-color !important;
        border-radius: 5px;
        box-shadow: $answer-exception-shadow !important;
    }

    span::before {
        border-color: transparent transparent $subsection-color !important;
    }
}

#all-info {
    background-color: transparent !important;
}

#information {
    background-color: $subsection-color !important;
    border-radius: 5px;
    box-shadow: $default-shadow !important;

}

#item-info {
    .user-synonyms-add-btn::before {
        background-color: transparent !important;
    }

    .user-synonyms-add-form {
        input {
            background-color: transparent !important;
        }

        button {
            background-color: $background-color !important;
            border: 2px solid;
            border-color: $background-color !important;
            height: 2vh;
        }
    }
}

#related-items {
    ul, ul a {
        background-color: transparent !important;
    }

    ul a {
        color: $text-color !important;
    }
}

#last-items li ul {
    background-color: $background-color !important;

    [title*=meaning],
    [title*=reading] {
        color: $text-color !important;
    }
}

#kana-chart [id^=chart-] li:hover {
    background-color: $background-color !important;
    box-shadow: none !important;
}

#screen-lesson-ready #lesson-ready-continue,
#hotkeys {
    background-color: $subsection-color !important;
}
