@import 'sesson/summary';
@import 'sesson/lesson';
@import 'sesson/review';

// Session Layout:
//
//   #question
//     #summary-button
//     #stats
//     #character
//     #question-type
//     #answer-form
//   #additional-content
//   #information

#related-items {
    @each $item in radical, kanji, vocabulary {
        a > [class^=#{$item}] {
            @include character($item);
        }
    }

    span > i {
        @extend %inherited-color;
    }
}

[id^="loading"] {
    background-color: $background-color !important;
}

// session status header
#stats,
#summary-button,
#header-buttons {
    color: $text-color !important;
    z-index: 100 !important;

    * {
        @extend %no-background-color;
        @extend %inherited-color;
    }
}

// hotkeys in lower right corner
#hotkeys {
    @extend %button;
}

// question type, reading or meaning
#question-type {
    @extend %borderless;
    @include sheet(9);

    align-items: center !important;
    display: flex !important;
    height: 82px !important;
    justify-content: center !important;

    &.reading {
        @extend %reading;
    }

    &.meaning {
        @extend %meaning;
    }

    > .srs {
        left: 70px !important;
        position: relative !important;
        top: initial !important;
        width: initial !important;
    }
}

.srs-up {
    @extend %no-background-color;

    &::before {
        color: $correct-color !important;
    }
}

.srs-down {
    @extend %no-background-color;

    &::before {
        color: $incorrect-color !important;
    }
}

// input field for answer
#answer-form {
    @include sheet(8);

    fieldset {
        padding: 0 !important;

        &.incorrect {
            // scss-lint:disable QualifyingElement NestingDepth
            input[type=text]:disabled, button {
                background-color: $incorrect-color !important;
            }
        }

        &.correct {
            // scss-lint:disable QualifyingElement NestingDepth
            input[type=text]:disabled, button {
                background-color: $correct-color !important;
            }
        }
    }

    input {
        @extend %borderless;
        @extend %shadowless;

        background-color: $textfield-color !important;
        border-radius: 0 !important;
    }

    button {
        @extend %no-background-color;
        @extend %borderless;
        @extend %shadowless;

        height: 2.3em !important;
    }
}

// lesson wrapup, last items, item info, kana chart and pronounciation
#additional-content {
    @include sheet(6, $charcoal-grey);

    height: 50px !important;
    margin: 0 !important;

    // make sure the list items are aligned nicely
    ul {
        align-items: center !important;
        display: flex !important;
        height: 100% !important;
        margin: 0 !important;

        // indicate that the wrapup function is active
        // scss-lint:disable NestingDepth
        .wrap-up-selected {
            span, span:hover::before, span::before {
                background-color: $charcoal-grey !important;
            }

            strong, i {
                text-shadow: 0 0 10px $icon-orange !important;
            }
        }
    }

    // up arrow
    li::before {
        border-bottom-color: $shade-black !important;
        bottom: -25px !important;
        color: $shade-black !important;
    }

    // options
    li > span {
        @extend %no-background-color;
        @extend %shadowless;

        z-index: 7 !important;

        // list item hover overlay
        &:hover::before {
            @extend %shadowless;

            background-color: $charcoal-grey !important;
            color: $text-color !important;
        }
    }

}

// answer exception popup
#answer-exception span {
    background-color: $popover-background-color !important;
    border-radius: 5px;
    box-shadow: $answer-exception-shadow !important;

    &::before {
        border-color: transparent transparent $popover-border-color !important;
    }
}

#related-items {
    span {
        @extend %icon;
    }
}

// last ten items in the review queue
#last-items li ul {
    background-color: $charcoal-grey !important;

    [title*=meaning],
    [title*=reading] {
        color: $text-color !important;
    }
}

// information about the current item
#information {
    @extend %section;

    z-index: 8 !important;
}

// show more button
#all-info {
    @extend %no-background-color;
}

#item-info {
    h2 {
        border-bottom-color: $separator-color !important;
    }
}

// hiragana chart
#kana-chart {
    ol {
        border-bottom-color: $separator-color !important;
    }

    .active {
        border: {
            bottom: none !important;
            left: 1px solid $separator-color !important;
            right: 1px solid $separator-color !important;
        }
    }

    li {
        border-right-color: $separator-color !important;

        &:hover {
            @extend %shadowless;

            background-color: $section-color !important;
            filter: brightness(0.8) !important;
        }
    }
}

#additional-content-load {
    background-color: $section-color !important;
}
