@import 'sesson/summary';
@import 'sesson/lesson';
@import 'sesson/review';

// shared between lesson and sesson
#loading,
#loading-screen {
    background-color: $background-color !important;
}

#stats {
    z-index: 100 !important;
}

#summary-button i,
#stats i,
#stats span {
    background-color: transparent !important;
    color: $text-color !important;
}

#hotkeys {
    background-color: $charcoal-grey !important;
    border-radius: 5px !important;
}
