@import 'sesson/summary';
@import 'sesson/lesson';
@import 'sesson/review';

// shared between lesson and sesson
[id^="loading"] {
    background-color: $background-color !important;
}

#stats,
#summary-button,
#header-buttons {
    color: $text-color !important;
    z-index: 100 !important;

    * {
        @extend %no-background-color;
        @extend %inherited-color;
    }
}

#hotkeys {
    @extend %button;
}
