@import '../colors';
@import '../shadows';

.community {
    section#chat li::before {
        background-color: $subsection-color !important;
        border-radius: 5px;
    }

    section#chat li {
        border-radius: 5px;
    }
}

.forum-header-bg::before {
    background-color: $background-color !important;
}

.forum-header-bg {
    box-shadow: $forum-header-shadow !important;
}

.forum-posts-list tbody tr {
    background-color: transparent !important;
}


form#new_post fieldset ul.wysihtml5-toolbar {
    li a {
        background-color: $button-background-color !important;
        background-image: none !important;
        box-shadow: $editor-shadow !important;
    }

    li a:hover {
        box-shadow: $focus-shadow !important;
        border: none !important;
    }
}

iframe.wysihtml5-sandbox {
    box-shadow: $editor-shadow !important;
    border: none !important;
}
