div.community section#chat li::before {
  background-color: <%= Colours::SUBSECTION %> !important;
  border-radius: 5px;
}

div.community section#chat li {
  border-radius: 5px;
}


div.forum-header-bg::before {
  background-color: <%= Colours::BACKGROUND %> !important;
}

div.forum-header-bg {
  box-shadow: <%= Shadow::FORUM_HEADER %> !important;
}


div.forum-posts-list tbody tr {
  background-color: transparent !important;
}


/* html editor */

form#new_post fieldset ul.wysihtml5-toolbar li a {
  background-color: <%= Colours::BUTTON_BACKGROUND %> !important;
  background-image: none !important;
  box-shadow: <%= Shadow::EDITOR %> !important;
}

form#new_post fieldset ul.wysihtml5-toolbar li a:hover {
  box-shadow: <%= Shadow::FOCUS %> !important;
  border: none !important;
}

iframe.wysihtml5-sandbox {
  box-shadow: <%= Shadow::EDITOR %> !important;
  border: none !important;
}
