@import '../colors';

@mixin lattice-0-text {
    color: $lattice-0-color !important;
    text-shadow: 1px 1px 2px $lattice-0-color !important;
}

@mixin lattice-21-text {
    color: $lattice-21-color !important;
    text-shadow: 1px 1px 2px $lattice-21-color !important;
}

@mixin lattice-41-text {
    color: $lattice-41-color !important;
    text-shadow: 1px 1px 2px $lattice-41-color !important;
}

@mixin lattice-61-text {
    color: $lattice-61-color !important;
    text-shadow: 1px 1px 2px $lattice-61-color !important;
}

@mixin lattice-81-text {
    color: $lattice-81-color !important;
    text-shadow: 1px 1px 2px $lattice-81-color !important;
}

section[class|=lattice] {
    ul > li {
        background-color: transparent !important;
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-left: 10px;
        margin-right: 10px;

        > a {
            background-color: transparent !important;
            box-shadow: none;
        }
    }
}

li[data-sorted] {
    .percentage-0-20,
    .percentage-0-20 > i {
        @include lattice-0-text;
    }

    .percentage-21-40,
    .percentage-21-40 > i {
        @include lattice-21-text;
    }

    .percentage-41-60,
    .percentage-41-60 > i {
        @include lattice-41-text;
    }

    .percentage-61-80,
    .percentage-61-80 > i {
        @include lattice-61-text;
    }

    .percentage-81-100,
    .percentage-81-100 > i {
        @include lattice-81-text;
    }
}

span.percentage-0-20 {
    background-color: $lattice-0-color !important;
}

span.percentage-21-40 {
    background-color: $lattice-21-color !important;
}

span.percentage-41-60 {
    background-color: $lattice-41-color !important;
}

span.percentage-61-80 {
    background-color: $lattice-61-color !important;
}

span.percentage-81-100 {
    background-color: $lattice-81-color !important;
}
