aside.additional-info.lattice-percentages.legend ul span,
aside.additional-info.lattice-progression.legend ul span {
  color: <%= Colours::BACKGROUND %> !important;
  box-shadow: 5px 5px 5px <%= Colours::INSET_SHADOW %> inset !important;
}

aside.additional-info.lattice-percentages.legend ul span.locked,
aside.additional-info.lattice-progression.legend ul span.locked,
aside.additional-info.lattice-progression.legend ul span.burned-lattice {
  background-color: <%= Colours::BACKGROUND %> !important;
  color: <%= Colours::TEXT %> !important;
}

aside.additional-info.lattice-percentages.legend ul span.locked,
aside.additional-info.lattice-progression.legend ul span.locked {
  background-color: <%= Colours::LATTICE_LOCKED %> !important;
}

section.lattice-single-character li a,
section.lattice-multi-character li a {
  /* background-color: <%= Colours::SUBSECTION %> !important; */
  color: <%= Colours::BACKGROUND %> !important;
  box-shadow: 5px 5px 5px <%= Colours::SHADOW %> !important;
}

li[data-sorted] .percentage-0-20,
span.percentage-0-20 {
  background-color: <%= Colours::LATTICE_0 %> !important;
}

li[data-sorted] .percentage-21-40,
span.percentage-21-40 {
  background-color: <%= Colours::LATTICE_21 %> !important;
}

li[data-sorted] .percentage-41-60,
span.percentage-41-60 {
  background-color: <%= Colours::LATTICE_41 %> !important;
}

li[data-sorted] .percentage-61-80,
span.percentage-61-80 {
  background-color: <%= Colours::LATTICE_61 %> !important;
}

li[data-sorted] .percentage-81-100,
span.percentage-81-100 {
  background-color: <%= Colours::LATTICE_81 %> !important;
}


aside.additional-info.lattice-progression.legend,
aside.additional-info.lattice-percentages.legend {
  background-color: <%= Colours::SUBSECTION %> !important;
  border-radius: 5px;
  box-shadow: 5px 5px 5px <%= Colours::SHADOW %> !important;
}

aside.additional-info.lattice-percentages.legend ul span {
  margin-right: 1vw;
  box-shadow: 5px 5px 5px <%= Colours::INSET_SHADOW %> inset !important;
}


section.lattice-single-character li,
section.lattice-multi-character li {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 5px;
  margin-right: 5px;
  background-color: transparent !important;
  overflow: unset !important;
}
