section[class|=lattice] ul > li {
  background-color: transparent !important;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 10px;
  margin-right: 10px;
}

section[class|=lattice] ul > li > a {
  background-color: transparent !important;
  box-shadow: none;
}

span.percentage-0-20 {
  background-color: <%= Colours::LATTICE_0 %> !important;
}

li[data-sorted] a.percentage-0-20,
li[data-sorted] a.percentage-0-20 i {
  color: <%= Colours::LATTICE_0 %> !important;
  text-shadow: 1px 1px 2px <%= Colours::LATTICE_0 %> !important;
}

span.percentage-21-40 {
  background-color: <%= Colours::LATTICE_21 %> !important;
}

li[data-sorted] a.percentage-21-40,
li[data-sorted] a.percentage-21-40 i {
  color: <%= Colours::LATTICE_21 %> !important;
  text-shadow: 1px 1px 2px <%= Colours::LATTICE_21 %> !important;
}

span.percentage-41-60 {
  background-color: <%= Colours::LATTICE_41 %> !important;
}

li[data-sorted] .percentage-41-60,
li[data-sorted] .percentage-41-60 i {
  color: <%= Colours::LATTICE_41 %> !important;
  text-shadow: 1px 1px 2px <%= Colours::LATTICE_41 %> !important;
}

span.percentage-61-80 {
  background-color: <%= Colours::LATTICE_61 %> !important;
}

li[data-sorted] a.percentage-61-80,
li[data-sorted] a.percentage-61-80 i {
  color: <%= Colours::LATTICE_61 %> !important;
  text-shadow: 1px 1px 2px <%= Colours::LATTICE_61 %> !important;
}

span.percentage-81-100 {
  background-color: <%= Colours::LATTICE_81 %> !important;
}

li[data-sorted] a.percentage-81-100,
li[data-sorted] a.percentage-81-100 i {
  color: <%= Colours::LATTICE_81 %> !important;
  text-shadow: 1px 1px 2px <%= Colours::LATTICE_81 %> !important;
}
