@import '../colors';
@import '../shadows';

#lessons {
    #question-type {
        background-color: transparent !important;
        background-image: none !important;
        border: none !important;
    }

    #answer-form {
        fieldset {
            padding-left: 0;
            padding-right: 0;

            input {
                background-color: $textfield-color !important;
                box-shadow: inset 0 3px 3px rgba(0,0,0,0.5),
                0 3px 3px rgba(0,0,0,0.5) !important;
            }
        }

        fieldset.incorrect input:disabled {
            background-color: $incorrect-color !important;
        }

        fieldset.correct input:disabled {
            background-color: $correct-color !important;
        }

        button,
        fieldset.incorrect button,
        fieldset.correct button {
            background-color: transparent !important;
        }
    }

    #additional-content {
        li {
            span {
                background-color: $background-color !important;
                box-shadow: none !important;
                border-right: 1px solid !important;
                border-color: $subsection-color !important;
            }

            span:hover::before {
                background-color: $background-color !important;
                box-shadow: none !important;
                color: $text-color !important;
            }
        }

        li::before {
            border-color: transparent transparent $subsection-color transparent !important;
        }

        li:last-child span {
            border-right: none !important;
        }
    }

    #answer-exception {
        span {
            background-color: $subsection-color !important;
            border-radius: 5px;
            box-shadow: 3px 3px 3px rgba(0,0,0,0.3) !important;
        }

        span::before {
            content: "";
            border-color: transparent transparent $subsection-color transparent !important;
        }
    }

    #information {
        background-color: $subsection-color !important;
        border-radius: 5px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.3) !important;

        #all-info {
            background-color: transparent !important;
        }
    }

    #kana-chart ul[id^=chart-] li:hover {
        background-color: $background-color !important;
        box-shadow: none !important;
    }
}

#screen-lesson-ready #lesson-ready-continue {
    background-color: $subsection-color !important;
}
