#header-buttons li a,
#header-buttons li i,
#lessons #stats li,
#lessons #stats li span
{
	color: <%= Colours::BACKGROUND %> !important;
	background-color: transparent !important;
}

#lessons #lesson-ready-continue,
#quiz-ready-continue,
#lessons #supplement-info
{
	background-color: <%= Colours::SUBSECTION %> !important;
}

#lessons header
{
	box-shadow: 0 3px 3px  rgba(0,0,0,0.5) !important;
}

#lessons #supplement-nav li::before
{
	border-color: transparent transparent <%= Colours::SUBSECTION %> transparent !important;
}

#lessons #supplement-nav
{
	background-color: transparent !important;
}

#lessons #supplement-info
{
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5) !important;
	border-radius: 5px;
}

#lessons #supplement-info div.note-meaning fieldset,
#lessons #supplement-info div.note-reading fieldset
{
	background-color: <%= Colours::BACKGROUND %> !important;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5) inset !important;
}

#lessons #supplement-info div.note-meaning fieldset button,
#lessons #supplement-info div.note-reading fieldset button
{
	background-color: transparent !important;
}

#lessons #supplement-info blockquote
{
	background-color: <%= Colours::SUBSECTION %> !important;
}

#lessons #next-btn:hover,
#lessons #prev-btn:hover
{
	background-color: <%= Colours::BACKGROUND %> !important;
	opacity: 0.5;
}


#lessons #character,
#lessons #meaning
{
	color: <%= Colours::BACKGROUND %> !important;
}

#lessons #batch-items li[data-index=quiz] span
{
	background-color: <%= Colours::BACKGROUND %> !important;
}
