section[id|=level] header {
  background-color: transparent !important;
}

section[id|=level] {
  padding: 10px;
  margin-bottom: 1vh !important;
}

section[id|=level] ul[class*=character-grid] {
  margin: 5px;
}
