/* settings page */

.account #user_lesson_batch_size {
  background-color: <%= Colours::BUTTON_BACKGROUND %> !important;
  border-color: <%= Colours::BUTTON_BORDER %> !important;
}


/* subscription page */

.account-subscription .account-subscription-plan-active {
  border-color: <%= Colours::SUB_ACTIVE %> !important;
  box-shadow: <%= Shadow::SUB_ACTIVE %> !important;
}

.account-subscription .account-subscription-plans .account-subscription-plan .account-subscription-plan-select button.btn[type="button"] {
  background-color: <%= Colours::SUBSECTION %> !important;
  border-radius: 0 0 5px 5px !important;
}

.account-subscription .account-subscription-plans .account-subscription-plan.account-subscription-plan-active .account-subscription-plan-select button.btn[type="button"] {
  background: <%= Colours::SUB_ACTIVE %> !important;
}

#account-subscription-coupon-form #coupon:focus {
  border: none !important;
  box-shadow: <%= Shadow::FOCUS %> !important;
}

.account-subscription-payment-submit button[type=submit]:disabled {
  background-color: <%= Colours::SUB_ACTIVE %> !important;
  border-radius: 5px !important;
  box-shadow: <%= Shadow::SUB_ACTIVE %>;
}


/* billing page */

.account-subscription form .control-group input[type="text"]:focus {
  border: none !important;
  box-shadow: <%= Shadow::FOCUS %> !important;
}

.account-subscription-payment-submit button {
  background-color: <%= Colours::ACTION_DESTRUCTIVE %> !important;
  border-radius: 5px !important;
  box-shadow: <%= Shadow::PAYMENT_SUBMIT %>;
}
