@import '../colors';
@import '../shadows';

.account #user_lesson_batch_size {
    background-color: $button-background-color !important;
    border-color: $button-border-color !important;
}

.account-subscription {
    .account-subscription-plan-active {
        border-color: $sub-active-color !important;
        box-shadow: $sub-active-shadow !important;
    }

    .account-subscription-plans {
        .account-subscription-plan .account-subscription-plan-select button.btn[type="button"] {
            background-color: $subsection-color !important;
            border-radius: 0 0 5px 5px !important;
        }

        .account-subscription-plan.account-subscription-plan-active .account-subscription-plan-select button.btn[type="button"] {
            background: $sub-active-color !important;
        }
    }

    form .control-group input[type="text"]:focus {
        border: none !important;
        box-shadow: $focus-shadow !important;
    }
}

.account-subscription-payment-submit {
    button {
        background-color: $action-destructive-color !important;
        border-radius: 5px !important;
        box-shadow: $payment-submit-shadow;
    }

    button[type=submit]:disabled {
        background-color: $sub-active-color !important;
        border-radius: 5px !important;
        box-shadow: $sub-active-shadow;
    }
}

#account-subscription-coupon-form #coupon:focus {
    border: none !important;
    box-shadow: $focus-shadow !important;
}
