// defines colors and shadows

// color palette
$paper-white:      rgb(252, 252, 252); // #fcfcfc
$iron-grey:        rgb(77, 77, 77);    // #4d4d4d
$charcoal-grey:    rgb(49, 54, 59);    // #31363b
$shade-black:      rgb(35, 38, 41);    // #232629
$plasma-blue:      rgb(61, 174, 233);  // #3daee9
$icon-red:         rgb(218, 68, 83);   // #da4453
$danger-red:       rgb(237, 21, 21);   // #ed1515
$icon-orange:      rgb(244, 119, 80);  // #f47750
$beware-orange:    rgb(246, 116, 0);   // #f67400
$icon-yellow:      rgb(253, 188, 75);  // #fdbc4b
$sunbeam-yellow:   rgb(201, 206, 59);  // #c9ce3b
$mellow-turquoise: rgb(28, 220, 154);  // #1cdc9a
$icon-green:       rgb(46, 204, 113);  // #2ecc71
$verdant-green:    rgb(17, 209, 22);   // #11d116
$icon-blue:        rgb(29, 153, 243);  // #1d99f3

// main colors and shadows
$text-color:               $paper-white;
$background-color:         $charcoal-grey;
$alert-color:              $beware-orange;
$alert-text-color:         $iron-grey;
$loading-background-color: $background-color;

$default-shadow-color:       rgba(0, 0, 0, 0.5);
$default-focus-shadow-color: rgba(61, 174, 233, 0.5);
$default-shadow:             3px 3px 3px $default-shadow-color;
$default-shadow-v:           0 3px 3px $default-shadow-color;
$default-focus-shadow:       0 0 5px $default-focus-shadow-color;

// radical, kanji and vocab colors
$radical-color:    '/*[[RADICALS_COLOR]]*/'; // $plasma-blue
$kanji-color:      '/*[[KANJI_COLOR]]*/'; // $icon-yellow
$vocabulary-color: '/*[[VOCAB_COLOR]]*/'; // $icon-green
$symbol-text-color: $shade-black;

// character grid on item page and search
$grid-background-color: $iron-grey;
$grid-shadow:           $default-shadow;
$grid-inset-shadow:     $default-shadow inset;

// navigation bar (most pages, except lessons/reviews)
$navbar-color: $shade-black;
$navbar-shadow: $default-shadow-v;

// dropdown for navbar
$dropdown-color:       $iron-grey;
$dropdown-hover-color: rgba(0, 0, 0, 0.2);
$dropdown-shadow:      $default-shadow;

// input elements (input, textarea, select, ...)
$input-shadow:            0 -3px 3px -3px $default-shadow-color inset;
$button-background-color: $shade-black;
$button-border-color:     $plasma-blue;

// subsections (dashboard, item info, ...)
$subsection-color:  $shade-black;
$subsection-shadow: $default-shadow;

// page list (item info, level info, settings)
$page-list-background-color: $shade-black;
$page-list-item-color:       $plasma-blue;
$page-list-text-color:       $shade-black;
$page-list-separator-color:  $charcoal-grey;
$page-list-hover-color:      rgba(0, 0, 0, 0.2);
$page-list-shadow:           $default-shadow;
$page-list-focus-shadow:     $default-focus-shadow;

// popover (dashboard, profile)
$popover-background-color: $iron-grey;
$popover-border-color:     $iron-grey;
$popover-progress-color:   $plasma-blue;
$popover-shadow:           $default-shadow;

// correct/incorrect
$incorrect-color: $danger-red;
$correct-color:   $icon-green;

// srs levels
$apprentice-color:  $icon-blue;
$guru-color:        $mellow-turquoise;
$master-color:      $sunbeam-yellow;
$enlightened-color: $beware-orange;
$burned-color:      $shade-black;

// list
$list-background-color: $iron-grey;
$list-head-color:       $icon-blue;
$list-item-color:       $plasma-blue;
$list-separator-color:  $charcoal-grey;
$list-hover-color:      rgba(0, 0, 0, 0.2);
$list-head-shadow:      0 -5px 10px $default-shadow-color inset;

// progressbar
$progress-background-color:    $charcoal-grey;
$progressbar-background-color: $icon-blue;
$progressbar-indicator-color:  $iron-grey;
$progressbar-threshold-color:  $iron-grey;
$progressbar-shadow:           $default-shadow;
$progressbar-threshold-shadow: 1px 0 0 $progressbar-threshold-color;

// textfield
$textfield-color: $shade-black;
$textform-color:  $iron-grey;
$textform-shadow: $default-shadow inset;

// lattice
$lattice-locked-color:  $charcoal-grey;
$lattice-0-20-color:    $icon-orange;
$lattice-21-40-color:   $sunbeam-yellow;
$lattice-41-60-color:   $plasma-blue;
$lattice-61-80-color:   $icon-blue;
$lattice-81-100-color:  $mellow-turquoise;
$lattice-legend-shadow: $default-shadow inset;

// searchbar
$search-query-color:  $shade-black;
$search-query-shadow: $default-shadow inset;
$searchbar-in-shadow: 0 -3px 3px -3px $default-shadow-color inset;

// item info
$correct-progress-color: $shade-black;
$user-synonym-color:     $iron-grey;
$icon-shadow:            $default-shadow;

// user profile
$user-info-background-color: $shade-black;
$user-progressbar-color:     $shade-black;
$user-wos-header-color:      $shade-black;
$wall-of-shame-shadow:       $default-shadow inset;
$user-avatar-shadow:         $default-shadow;
$user-info-shadow:           $default-shadow-v inset, $default-shadow-v;

// session
$lesson-color:           $shade-black;
$lessons-header-shadow:  $default-shadow-v;
$supplement-info-shadow: $default-shadow;
$note-shadow:            $default-shadow inset;
$meaning-color:          $icon-red;
$reading-color:          $icon-blue;
$addcon-sep-color:       $shade-black;
$reading-background-color: '/*[[REVIEW_READING_BG]]*/';
$meaning-background-color: '/*[[REVIEW_MEANING_BG]]*/';
$question-type-shadow:    $default-shadow-v inset;
$answer-form-shadow:      $default-shadow-v inset, $default-shadow-v;
$answer-exception-shadow: $default-shadow;
$review-character-shadow: $default-shadow-v;
$text-meaning-shadow:     0 0 10px $meaning-color;
$text-reading-shadow:     0 0 10px $reading-color;

// settings/account
$sub-active-color:         $beware-orange;
$action-destructive-color: $beware-orange;
$sub-active-shadow-color:  rgba(246, 116, 0, 0.5);
$payment-submit-shadow:    5px 5px 5px $default-shadow-color;
$sub-active-shadow:        0 0 5px $sub-active-shadow-color;
$coupon-focus-shadow:      $default-focus-shadow;
$sub-focus-shadow:         $default-focus-shadow;

// summary
$reviews-button-color: $shade-black;
$review-stats-color:   $shade-black;
$summary-h2-color:     $shade-black;
$summary-h3-color:     $iron-grey;
$review-stats-shadow:  $default-shadow;
$summary-shadow:       $default-shadow;
