// lattice
// TODO: maybe convert mixins to placeholders, if possible
@mixin lattice-percent-text($p) {
    @if $p == '0-20' {
        color: $lattice-0-20-color !important;
        text-shadow: 1px 1px 2px $lattice-0-20-color !important;
    } @else if $p == '21-40' {
        color: $lattice-21-40-color !important;
        text-shadow: 1px 1px 2px $lattice-21-40-color !important;
    } @else if $p == '41-60' {
        color: $lattice-41-60-color !important;
        text-shadow: 1px 1px 2px $lattice-41-60-color !important;
    } @else if $p == '61-81' {
        color: $lattice-61-80-color !important;
        text-shadow: 1px 1px 2px $lattice-61-80-color !important;
    } @else {
        color: $lattice-81-100-color !important;
        text-shadow: 1px 1px 2px $lattice-81-100-color !important;
    }
}

@mixin lattice-percent-background($p) {
    @if $p == '0-20' {
        background-color: $lattice-0-20-color !important;
    } @else if $p == '21-40' {
        background-color: $lattice-21-40-color !important;
    } @else if $p == '41-60' {
        background-color: $lattice-41-60-color !important;
    } @else if $p == '61-81' {
        background-color: $lattice-61-80-color !important;
        text-shadow: 1px 1px 2px $lattice-61-80-color !important;
    } @else {
        background-color: $lattice-81-100-color !important;
        text-shadow: 1px 1px 2px $lattice-81-100-color !important;
    }
}

@mixin lattice-level-text($l) {
    @if $l == 'apprentice' {
        @extend %apprentice-text;
    } @else if $l == 'guru' {
        @extend %guru-text;
    } @else if $l == 'master' {
        @extend %master-text;
    } @else if $l == 'enlighten' {
        @extend %enlightened-text;
    } @else {
        @extend %burned-text;
    }
}

@mixin lattice-level-background($l) {
    @if $l == 'apprentice' {
        @extend %apprentice-background;
    } @else if $l == 'guru' {
        @extend %guru-background;
    } @else if $l == 'master' {
        @extend %master-background;
    } @else if $l == 'enlighten' {
        @extend %enlightened-background;
    } @else {
        @extend %burned-text;
    }
}

@mixin sheet($zindex, $bgcolor: $shade-black, $img: none) {
    background-color: $bgcolor !important;
    box-shadow: $shadow-v !important;
    z-index: $zindex !important;

    @if ($img != true) {
        background-image: $img !important;
    }
}

@mixin character($type, $inverted: false, $img: false) {
    @if $inverted {
        background-color: $character-text-color !important;
        color: character-color($type) !important;
    } @else {
        background-color: character-color($type) !important;
        color: $character-text-color !important;
    }

    @if $img == false {
        background-image: none !important;
    }

    //li, time, span, a, i {
    [lang="ja"], [lang="ja"] i, li, .japanese-font-styling-correction {
        background-color: transparent !important;

        @if $inverted {
            color: character-color($type) !important;
        } @else {
            color: $character-text-color !important;
        }
    }
}

@mixin dropdown-menu($type) {
    .open.#{$type} {
        .dropdown-menu,
        .dropdown-toggle {
            @extend %#{$type};
        }

        .dropdown-menu::before,
        .dropdown-menu::after {
            border-bottom: 9px solid character-color($type) !important;
            color: character-color($type) !important;
        }

        .dropdown-toggle:hover span {
            border-color: $navbar-color !important;
        }
    }

    .#{$type} {
        .dropdown-toggle:hover span {
            border-color: character-color($type) !important;
        }
    }
}
