@import 'placeholders/characters';
@import 'placeholders/input_components';
@import 'placeholders/components';

%main-background {
    background-blend-mode: color-burn !important;
    background-color: $background-color !important;
    background-image: $background-image-url !important;
    background-repeat: repeat !important;
}

// force white background before applying the filter
// makes the lattice page look more consistent
%locked {
    // scss-lint:disable ColorVariable
    color: #fff !important;
    filter: brightness(0.2) !important;
}

%locked-background {
    background-image: $locked-image-url !important;
}

%no-background-image {
    background-image: none !important;
}

%no-background-color {
    background-color: transparent !important;
}

%clear-background {
    @extend %no-background-color;
    @extend %no-background-image;
}

%shadowless {
    box-shadow: none !important;
}

%borderless {
    border: none !important;
}

%inherited-color {
    color: inherit !important;
}

%reading {
    background-color: $reading-color !important;
}

%meaning {
    background-color: $meaning-color !important;
}
