button, .btn {
    @extend %button;
}

.btn-danger {
    background-color: $icon-red !important;
    color: $inverted-text-color !important;
}

.audio-btn {
    @extend %no-background-color;
    @extend %shadowless;

    &:hover, &:focus {
        @extend %shadowless;
    }

    &.audio-play::before {
        color: $text-color;
    }

    &.audio-unavailable::before {
        content: '⃠';
        font-weight: bold;
    }
}
