.character-item * {
    @extend %inherited-color;
}

.character-grid__items {
    background-color: darken($section-color, 2%) !important;
    border-radius: 5px !important;
    box-shadow: $shadow-i !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    padding: 5px !important;

    > li {
        @extend %no-background-image;
        @extend %borderless;

        border-radius: 5px !important;
        box-shadow: $shadow !important;
        margin: 5px !important;

        img {
            filter: unset !important;
            opacity: unset !important;
        }

        @each $item in radical, kanji, vocabulary {
            .character-item--#{$item} {
                @extend %icon;
                @include character($item);
            }
        }

        .character-item--burned {
            filter: brightness(0.50) !important;
        }

        .character-item--locked {
            filter: brightness(0.20) !important;
        }
    }
}
