@each $item in radical, kanji, vocabulary {
    [class*="highlight-#{$item}"],
    [class*="#{$item}-highlight"] {
        @include character($item);
    }
}

[class*="highlight"] {
    @extend %no-background-image;
    @extend %shadowless;

    border-radius: 3px !important;

    > span {
        color: $inverted-text-color !important;
    }
}

.highlight-reading {
    @extend %reading;
}

.highlight-meaning {
    @extend %meaning;
}

.highlight-reading,
.highlight-meaning {
    > span {
        color: $text-color !important;
    }
}
