.subject-legend {
    @extend %section;

    @each $range in ('0-20', '21-40', '41-60', '61-80', '81-100') {
        .percentage-#{$range} {
            @include percent($range, $text-only: false);
        }
    }

    @each $level in (apprentice, guru, master, enlighten, burned) {
        .#{$level}-lattice {
            @include srs-level($level);
        }
    }

    h3 i {
        @extend %shadowless;
    }


    ul {
        span {
            @extend %shadowless;
            @extend %no-background-image;

            color: $character-text-color;
            margin-left: 1vh !important;
            margin-right: 1vh !important;

            &.subject-legend__item-badge--all {
                @include character('radical');
            }

            &.subject-legend__item-badge--locked {
                filter: brightness(0.20);
            }

            // TODO: styling burned correctly seem impossible, because firefox doesn't support `:has(...)` by default
            // &.subject-legend__item-badge--burned {
            //     filter: brightness(0.50);
            // }

            @each $type in ('radicals', 'kanji', 'vocabulary') {
                &.subject-legend__item-badge--#{$type} {
                    @include character($type);
                }
            }
        }
    }

    [class*="percentage"],
    [class*="lattice"] {
        filter: brightness(0.8) !important;
    }

    [class*="lattice"] {
        @extend %no-background-color;
    }
}
