.popover {
    @extend %popover;

    .popover-title {
        @extend %no-background-color;
        @extend %shadowless;

        opacity: inherit;
    }

    .popover-content {
        li {
            @extend %no-background-image;
            @extend %borderless;

            border-radius: 5px !important;
            box-shadow: $popover-shadow !important;
            margin-bottom: 3px !important;
            margin-top: 3px !important;

            span {
                color: $background-color !important;
            }
        }
    }

    .bar {
        @extend %no-background-image;

        background-color: $popover-progress-color !important;
        line-height: 100% !important;
    }

    &.srs {
        .popover-content {
            @each $type in $character-types {
                li:nth-child(#{index($character-types, $type)}) {
                    @include character($type);
                }

            }
        }
    }

    &.srs,
    &.lattice {
        .arrow,
        .arrow::after {
            border-right-color: $popover-border-color !important;
            opacity: inherit !important;
        }
    }
}
