table {
    background-color: inherit !important;
    border-collapse: separate !important;

    tr {
        background-color: inherit !important;
        border-radius: 5px !important;
    }

    // tbody > tr:hover {
    //     filter: brightness(0.8) !important;
    // }
}
