.user-synonyms {
    @extend %no-background-color;

    margin-left: 5px;

    li, i {
        color: $text-color !important;
    }

    li::after {
        @extend %no-background-color;
    }
}

.user-synonyms-add-btn::before {
    @extend %no-background-color;
}

.user-synonyms-add-form {
    input {
        padding-left: 5px !important;
    }

    button {
        height: 1.8em !important;
        min-width: 1.8em !important;
    }
}
