%collocation {
    .subject-collocations__pattern-name {
        @extend %shadowless;
        @extend %no-background-color;

        border-radius: 0 !important;
    }

    .subject-collocations__pattern-name::after {
        @extend %no-background-color;
        @extend %no-background-image;
    }

    .subject-collocations__pattern-name[aria-selected="true"] {
        background-color: $button-background-color !important;
    }

    .subject-collocations__patterns::after {
        box-shadow: $shadow-color 0 0 5px 0;
    }
}
