[aria-describedby=divSRSGridSettings],
[aria-describedby=ui-id-2] {
    @extend %section;

    .ui-widget-header {
        border: none !important;

        button,
        .ui-button-icon {
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
        }
    }

    .ui-dialog-buttonpane,
    .ui-dialog-titlebar,
    .ui-dialog-content tr:hover {
        background-color: transparent !important;
    }

    .ui-dialog-content {
        input, select {
            min-width: 250px !important;
        }
    }

    .ui-dialog-buttonset button {
        @extend %button;
    }
}
