%minimise-button {
    .icon-minus, .icon-plus {
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }
}

#lessons .ui-small,
#reviews .ui-small {
    @extend %minimise-button;

    background-color: transparent !important;
}

#lessons .ui,
#reviews .ui {
    @extend %section;
    @extend %minimise-button;

    margin: 10px !important;
    padding: 10px !important;

    #quick-next {
        color: $iron-grey !important;

        &.active {
            color: $text-color !important;

            // scss-lint:disable NestingDepth
            &::before {
                text-shadow: 0 0 10px $focus-shadow-color !important;
            }
        }
    }

    ul {
        item {
            @extend %icon;
        }

        @each $type in $character-types {
            item.#{$type} {
                @extend %#{$type};
            }
        }
    }

    #reorder {
        @extend %button;
    }
}
