// NOTE:
//   only works with https://github.com/valeth/wk_anti_burnout
//   the original script doesn't have any CSS classes associated to it's elements

.wk-anti-burnout {
    @extend %section;

    align-items: center !important;
    display: flex !important;
    justify-content: space-around !important;
    margin: 0.5em 1em 0 !important;
    min-height: 2em !important;
    padding: 0 0.5em !important;

    .item {
        @extend %shadowless;

        color: $inverted-text-color !important;
    }

    @each $lvl in ('apprentice' 'guru' 'master' 'enlightened') {
        [class*=#{$lvl}] {
            @extend %no-background-color;
            @include srs-level('#{$lvl}');
        }
    }

    @for $i from 1 through 4 {
        .apprentice#{$i},
        .guru#{$i} {
            filter: saturate((100 / $i) / 100) !important;
        }
    }

    .last {
        @extend %no-background-color;

        color: $text-color !important;
    }

    .btn-settings {
        background-color: $iron-grey !important;
    }
}
