.wklc {
    @extend %section;

    justify-content: space-around !important;
    margin: 1em 1.3em !important;

    .wklc-items {
        margin: 0 !important;
    }

    .wklc-item {
        @extend %shadowless;
        @extend %no-background-color;

        color: $text-color !important;
        min-width: 2em !important;
        padding: 0 0.2em;
    }

    @each $lvl in ('apprentice' 'guru' 'master' 'enlightened') {
        [class*=#{$lvl}] {
            @include srs-level('#{$lvl}');
        }
    }

    @for $i from 1 through 4 {
        .wklc-apprentice#{$i},
        .wklc-guru#{$i} {
            filter: saturate((100 / $i) / 100) !important;
        }
    }
}
