#WKO_button {
    @extend %button;

    background-color: $danger-red !important;
    color: $inverted-text-color !important;
}

#answer-form fieldset.WKO_ignored {
    input[type="text"]:disabled,
    button {
        background-color: $beware-orange !important;
    }
}
