@import '../shared/colors';

$reorder-button-color: $shade-black;
$reorder-color: $charcoal-grey;


#divSt {
    color: $reorder-color !important;
    margin-top: 2vh;
}

[id^=reorder] {
    background-color: $reorder-button-color !important;
    border-color: $reorder-button-color !important;
    border-radius: 5px;
    border-style: solid;
    margin-top: 1vh;
    width: 200px;
}
