/* userscript: ultimate timeline */

/* not the best solution, but it works for now */
* {
  fill: <%= Colours::TEXT %> !important;
}

#timeln {
  background-color: <%= Colours::SUBSECTION %> !important;
  box-shadow: <%= Shadow::TIMELINE %> !important;
  border-radius: 5px !important;
  border: none !important;
}

#timeln > h4,
#timeln > i::before,
#timeln > form {
  margin-top: 5px !important;
}

#timeln > h4 {
  margin-left: 1vw;
}

#timeline .rad {
  fill: <%= Colours::RADICAL %> !important;
}

#timeline .kan {
  fill: <%= Colours::KANJI %> !important;
}

#timeline .voc {
  fill: <%= Colours::VOCABULARY %> !important;
}

#timeln-graph {
  margin-left: 1vw;
  margin-right: 1vw;
}


#timeln-settings {
  background-color: <%= Colours::POPOVER_BACKGROUND %> !important;
  box-shadow: <%= Shadow::TIMELINE %> !important;
  border-radius: 5px !important;
  border: none !important;
}

#timeln-settings > h4 {
  background-color: <%= Colours::SUBSECTION %> !important;
}

#timeln-settings form > select,
#timeln-settings form > input {
  background-color: transparent !important;
  border-color: <%= Colours::BUTTON_BORDER %> !important;
}

#timeln-settings button {
  background-color: <%= Colours::BUTTON_BACKGROUND %> !important;
  background-image: none !important;
  border: 1px solid;
  border-color: <%= Colours::BUTTON_BORDER %> !important;
  border-radius: 5px;
}

#graph-bar-info {
  background-color: <%= Colours::POPOVER_BACKGROUND %> !important;
  border-radius: 5px;
  box-shadow: <%= Shadow::TIMELINE %> !important;
}

#graph-bar-info .tot {
  background-color: transparent !important;
  background-image: none !important;
}

#graph-bar-info .rad {
  background-color: <%= Colours::RADICAL %> !important;
  background-image: none !important;
  color: <%= Colours::BACKGROUND %> !important;
  border-radius: 5px 5px 0 0;
}

#graph-bar-info .kan {
  background-color: <%= Colours::KANJI %> !important;
  background-image: none !important;
  color: <%= Colours::BACKGROUND %> !important;
}

#graph-bar-info .voc {
  background-color: <%= Colours::VOCABULARY %> !important;
  background-image: none !important;
  color: <%= Colours::BACKGROUND %> !important;
  border-radius: 0 0 5px 5px;
}

#graph-bar-info .cur {
  background-color: transparent !important;
  background-image: none !important;
}
