$timeline-burned-color: $charcoal-grey;
$timeline-bar-color:    $iron-grey;

$timeline-shadow: $default-shadow;


#timeln {
    @extend %subsection;

    // header, icons and day slider
    > h4,
    > i::before,
    > #range_form {
        margin-top: 10px !important;
    }

    > h4 {
        line-height: 0.70em !important;
        margin-left: 10px !important;
    }

    > #range_form {
        margin-right: 10px !important;

        #range_input {
            border: none !important;
        }
    }

    .rad {
        fill: $radical-color !important;
    }

    .kan {
        fill: $kanji-color !important;
    }

    .voc {
        fill: $vocabulary-color !important;
    }
}

// the graph container
#timeln-graph {
    margin: 0 !important;
    padding: 10px !important;
}

// the actual graph
#timeline {
    .label-x > text,
    .label-y > text,
    .arrows > polygon {
        fill: $text-color !important;
    }

    .bars > .clr {
        fill: $timeline-bar-color !important;
    }

    .bars > .bur {
        fill: $timeline-burned-color !important;
    }
}

// settings popover
#timeln-settings {
    @extend %popover;

    > h4 {
        background-color: transparent !important;
    }

    form > select,
    form > input,
    button {
        @extend %input-element;
    }
}

// info popover
#graph-bar-info {
    @extend %popover;

    .tot {
        background-color: transparent !important;
        background-image: none !important;
    }

    .rad {
        @extend %radical-background;
        border-radius: 5px 5px 0 0;
        color: $background-color !important;
    }

    .kan {
        @extend %kanji-background;
        color: $background-color !important;
    }

    .voc {
        @extend %vocabulary-background;
        border-radius: 0 0 5px 5px;
        color: $background-color !important;
    }

    .cur {
        background-color: transparent !important;
        background-image: none !important;
    }

    .bur {
        background-color: $timeline-burned-color !important;
        background-image: none !important;
        border-radius: 5px !important;
    }
}
