.dashboard {
    .row {
        .span12 {
            // unlocks, critical, burned
            .row {
                align-items: stretch;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 20px !important;
                margin-top: 20px !important;
            }
        }

        .span12 + .span12 {
            margin-bottom: 20px !important;
            margin-top: 0 !important;
        }
    }
}
