.character-item * {
    @extend %inherited-color;
}

[class*=character-grid] {
    background-color: darken($section-color, 2%) !important;
    border-radius: 5px !important;
    box-shadow: $grid-inset-shadow !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    padding: 5px !important;

    > li {
        @extend %no-background-image;
        @extend %borderless;

        border-radius: 5px !important;
        box-shadow: $grid-shadow !important;
        margin: 5px !important;

        > a {
            @extend %no-background-color;
        }

        &.burned {
            filter: brightness(0.50) !important;
        }

        &.locked {
            filter: brightness(0.70) !important;
        }
    }

    @each $type in radical, kanji, vocabulary {
        [id|="#{$type}"] {
            @include character($type);
        }
    }
}
