.navbar-inner {
    @extend %borderless;
    @include sheet(1030, $navbar-color);
}

// scss-lint:disable NestingDepth SelectorDepth
.nav {
    a {
        @extend %inherited-color;
    }

    // crabigator logo and avatar
    .title {
        span:first-child {
            @extend %no-background-color;

            box-sizing: border-box !important;
        }
    }

    // be careful to not override stuff in opened dropdown menus
    li:not(.open) {
        span:first-child {
            @extend %shadowless;

            border: 0.3em solid lighten($navbar-color, 3%) !important;
        }

        > a:hover {
            > span:first-child {
                border-color: lighten($navbar-color, 7%) !important;
            }
        }
    }

    > .dropdown.account {
        > .dropdown-toggle {
            span {
                @extend %borderless;
            }
        }
    }

    > .lessons,
    > .reviews {
        a {
            > span {
                @extend %clear-background;
            }
        }
    }
}
