.page-list {
    @extend %section;

    ul {
        align-items: center !important;
        display: flex !important;
        height: 45px !important;
        margin-left: 10px !important;
    }

    li > a {
        @extend %button;
        @extend %no-background-image;
        @extend %borderless;

        background-color: $page-list-item-color !important;
        color: $inverted-text-color !important;
        margin-right: 10px !important;
    }

    // .disabled span {
    //     @extend %borderless;
    // }
}

.page-list-header {
    width: 110px !important;

    span {
        @extend %borderless;
    }
}
