#search {
    &.in {
        box-shadow: $searchbar-in-shadow !important;
    }
}

.search-list {
    @extend %no-background-color;
    @extend %borderless;

    .btn {
        @extend %no-background-color;
        @extend %borderless;
        @extend %shadowless;
    }

    .multi-character-grid {
        box-shadow: $grid-shadow !important;

        .character-item {
            border-bottom: 1px solid $list-separator-color !important;
        }

        .character-item:last-child {
            @extend %borderless;
        }
    }
}
