@import '../colors';

.level-icon,
[class$=-highlight] {
    box-shadow: none !important;
}

.individual-item {
    .span12 > section {
        padding: 10px;
        margin-bottom: 1vh !important;
    }

    li[id|=radical],
    .additional-info {
        background-color: transparent !important;
    }

    li[id|=radical] a {
        color: $text-color !important;
    }
}

section#progress {
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: transparent !important;
}
