@import '../colors';

section[id|=level] {
    padding: 10px;
    margin-bottom: 1vh !important;

    h2,
    header {
        background-color: transparent !important;
    }

    h2 {
        color: $text-color !important;
    }

    ul[class*=character-grid] {
        margin: 5px;
    }
}
