@import '../colors';
@import '../shadows';

#header-buttons li a,
#header-buttons li i,
#lessons #stats li,
#lessons #stats li span {
    color: $background-color !important;
    background-color: transparent !important;
}

#lessons #lesson-ready-continue,
#quiz-ready-continue,
#lessons #supplement-info {
    background-color: $subsection-color !important;
}

#lessons {
    header {
        box-shadow: 0 3px 3px  rgba(0,0,0,0.5) !important;
    }

    #supplement-nav {
        background-color: transparent !important;

        li::before {
            border-color: transparent transparent $subsection-color transparent !important;
        }
    }

    #supplement-info {
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5) !important;
        border-radius: 5px;

        .note-meaning fieldset,
        .note-reading fieldset {
            background-color: $background-color !important;
            border-radius: 5px;
            box-shadow: 3px 3px 3px rgba(0,0,0,0.5) inset !important;

            button {
                background-color: transparent !important;
            }
        }

        blockquote {
            background-color: $subsection-color !important;
        }
    }

    #next-btn:hover,
    #prev-btn:hover {
        background-color: $background-color !important;
        opacity: 0.5;
    }


    #character,
    #meaning {
        color: $background-color !important;
    }

    #batch-items li[data-index=quiz] span {
        background-color: $background-color !important;
    }
}
