aside.additional-info.level-list.legend,
aside.additional-info.level-list.legend + div.page-list,
section[id|=level]
{
	background-color: <%= Colours::SUBSECTION %> !important;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5) !important;
}


aside.additional-info.level-list.legend + div.page-list li.page-list-header span
{
	border: none !important;
}

aside.additional-info.level-list.legend + div.page-list li a
{
	background-color: <%= Colours::LIST_ITEM %> !important;
	background-image: none !important;
	border: none;
	border-right: 1px solid;
	border-color: <%= Colours::LIST_SEPARATOR %>;
}

aside.additional-info.level-list.legend + div.page-list li:last-child a
{
	border: none;
	border-radius: 0 5px 5px 0;
}

aside.additional-info.level-list.legend + div.page-list li:nth-child(2) a
{
	border-radius: 5px 0 0 5px;
}


section[id|=level] header
{
	background-color: transparent !important;
}


section[id|=level] div.progress
{
	background-color: <%= Colours::BACKGROUND %>;
	border-radius: 10px;
	display: flex;
	align-items: center;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5) inset;
	margin-left: 1vw;
	margin-right: 1vw;
}

section[id|=level] div.progress div.bar
{
	background-color: <%= Colours::PROGRESS_BAR %>;
	background-image: none !important;
	height: 60%;
	border-radius: 10px;
	margin-left: 5px;
	margin-right: 5px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

section[id|=level] div.progress div.bar span
{
	background-color: <%= Colours::DROPDOWN %>;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

section[id|=level] div.progress div.bar span::after
{
	border-top-color: <%= Colours::DROPDOWN %>;
}


section[id|=level] ul.single-character-grid
{
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
}

section[id|=level] ul.single-character-grid li.character-item
{
	margin: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5) !important;
}


section[id|=level] ul.multi-character-grid
{
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
}

section[id|=level] ul.multi-character-grid li.character-item
{
	width: 98%;
	margin: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5) !important;
}
