// https://community.wanikani.com/t/installing-wanikani-open-framework/28549
// TODO: style rest of dialog components and groups

#wkof_ds {
    .ui {
        &-dialog {
            // scss-lint:disable NestingDepth
            @extend %no-background-image;
            @extend %popup;

            &-titlebar {
                @extend %no-background-color;
                @extend %borderless;

                border-bottom: 1px solid $shade-black !important;
                border-radius: 0;
                color: $popover-text-color !important;
            }

            &-buttonpane {
                @extend %no-background-image;
                @extend %no-background-color;

                border-top: 1px solid $shade-black !important;
            }

            &-content {
                fieldset.wkof_group {
                    @extend %borderless;
                    @extend %no-background-color;

                    legend:nth-child(1) {
                        color: $popover-text-color;
                        float: left;
                        margin-bottom: 10px;

                        + * {
                            clear: both;
                        }
                    }

                    + fieldset.wkof_group {
                        border-radius: 0;
                        border-top: 1px solid $shade-black !important;
                    }
                }

                section {
                    color: $popover-text-color;
                }

                hr {
                    border-bottom-width: 0;
                    border-top-color: $shade-black !important;
                }

                .row {
                    .left {
                        line-height: 2em;
                    }

                    .right {
                        line-height: 2em;
                    }
                }
            }
        }

        &-icon {
            // scss-lint:disable UrlFormat
            // TODO: fix ".icon" styles to not affect this
            background-image: url('https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/images/ui-icons_888888_256x240.png') !important;
            box-shadow: none !important;
        }

        &-tabs {
            &-nav {
                border-bottom: 1px solid $shade-black !important;
                margin-bottom: 0 !important;
            }

            &-tab {
                @extend %no-background-image;
                @extend %no-background-color;
                @extend %borderless;
            }

            &-active {
                background-color: $shade-black !important;
                border-radius: 5px 5px 0 0;
            }

            &-anchor {
                color: $text-color !important;
            }
        }
    }
}
