%minimise-button {
    .icon-minus, .icon-plus {
        @extend %no-background-color;
        @extend %borderless;
        @extend %shadowless;
    }
}

#lessons .ui-small,
#reviews .ui-small {
    @extend %no-background-color;
    @extend %minimise-button;
}

#lessons .ui,
#reviews .ui {
    @extend %section;
    @extend %minimise-button;

    margin: 10px !important;
    padding: 10px !important;

    #quick-next {
        color: $iron-grey !important;

        &.active {
            color: $text-color !important;

            // scss-lint:disable NestingDepth
            &::before {
                text-shadow: 0 0 10px $focus-shadow-color !important;
            }
        }
    }

    ul {
        item {
            @extend %icon;

            background-color: $charcoal-grey !important;
        }

        @each $type in $character-types {
            item.#{$type} {
                @extend %#{$type};
            }
        }
    }

    #reorder {
        @extend %button;
    }
}
