// https://community.wanikani.com/t/userscript-dashboard-progress-plus/8309

$wpp-background-color: $charcoal-grey;

%wpp-filter {
    filter: brightness(0.5) !important;
}

.progression {
    .lattice-single-character {
        ul > .pct90 {
            background-color: $wpp-background-color !important;
        }

        @for $i from 5 through 10 {
            li > a[data-srs-lvl="#{$i}"] {
                @extend %wpp-filter;
            }
        }
    }
}

.progress-entries {
    .popover {
        @extend %borderless;

        color: $text-color;

        &.left {
            .arrow, .arrow::after {
                border-left-color: $popover-background-color;
            }
        }

        &.right {
            .arrow, .arrow::after {
                border-right-color: $popover-background-color;
            }
        }
    }

    .progress-entry.pct90 {
        background-color: $iron-grey;
    }
}
