$wki-color:      $shade-black;
$wki-qtip-color: $icon-blue;


#wki_button {
    border-color: $wki-color !important;
    border-right: 1px solid !important;

    #wki_mimic_button,
    .wki_item_wrapper,
    .wki_button_item_label {
        @extend %no-background-color;
        @extend %borderless;
        @extend %shadowless;
    }
}

[id|=qtip] {
    @extend %borderless;

    background-color: $wki-color !important;
}

[id|=qtip] .qtip-titlebar,
[id|=qtip] .qtip-title {
    @extend %borderless;

    background-color: $wki-qtip-color !important;
}


#wki_settings_cancel,
#wki_settings_save {
    @extend %no-background-image;

    background-color: $wki-color !important;
}

#wki_settings_button_label_bgcolor,
#wki_settings_button_label_textcolor,
#wki_settings_timer_show_next_item {
    @extend %no-background-image;

    background-color: $wki-color !important;
}

#wki_srs_popup_wrapper .wki_srs_popup_icon,
#wki_srs_popup_wrapper #wki_srs_popup_message {
    @extend %no-background-color;
}

[id|=qtip] .qtip-tip,
[id|=qtip] canvas {
    color: $wki-color !important;
}
