@import '../colors';

@mixin kanji-background {
    background-color: $kanji-color !important;
    background-image: none !important;
}

@mixin kanji-foreground {
    color: $background-color !important;
}

[id*=kanji],
[class*=kanji] {
    @include kanji-background;
    @include kanji-foreground;

    span, li, a, time {
        @include kanji-foreground;
    }

    h2,
    ul li[title=Characters],
    li > a {
        @include kanji-background;
        @include kanji-foreground;
    }

    .bar {
        @include kanji-background;
    }
}

li.kanji,
li[id^=kanji] a,
span.kanji,
.kanji-icon {
    box-shadow: none !important;
}

.kotoba-table-list {
    tr[id^=kanji] {
        span, time {
            color: $kanji-color !important;
            text-shadow: 1px 1px 1px $kanji-color !important;
        }
    }

    tr[id^=kanji]:hover {
        td {
            border-bottom: 1px solid $kanji-color !important;
        }
    }
}

.popover.srs {
    .popover-content {
        li:nth-child(2) {
            @include kanji-background;
            @include kanji-foreground;
        }
    }
}

.navbar {
    .open.kanji {
        .dropdown-toggle,
        .dropdown-menu {
            @include kanji-background;
        }

        .dropdown-menu::before,
        .dropdown-menu::after {
            border-bottom: 9px solid $kanji-color !important;
            @include kanji-foreground;
        }

        .dropdown-toggle:hover span {
            border-color: $background-color !important;
        }
    }

    .kanji {
        .dropdown-toggle:hover span {
            border-color: $kanji-color !important;
        }
    }
}
