@import '../colors';

@mixin radical-background {
    background-color: $radical-color !important;
    background-image: none !important;
}

@mixin radical-foreground {
    color: $background-color !important;
}

[id*=radical],
[class*=radical] {
    @include radical-background;
    @include radical-foreground;

    span, li, a, i, time {
        @include radical-foreground;
    }

    i {
        background-color: transparent !important;
    }

    h2,
    ul > li [title=Characters],
    li > a {
        @include radical-background;
        @include radical-foreground;
    }

    .bar {
        @include radical-background;
    }
}

li[class^=radical],
li[id^=radical] a,
span[class^=radical],
.radical-icon {
    box-shadow: none !important;
}

.popover.srs {
    .popover-content {
        li:nth-child(1) {
            @include radical-background;
            @include radical-foreground;
        }
    }
}

.navbar {
    .open.radicals {
        .dropdown-menu,
        .dropdown-toggle {
            @include radical-background;
        }

        .dropdown-menu::before,
        .dropdown-menu::after {
            border-bottom: 9px solid $radical-color !important;
            @include radical-foreground;
        }

        .dropdown-toggle:hover span {
            border-color: $background-color !important;
        }
    }

    .radicals {
        .dropdown-toggle:hover span {
            border-color: $radical-color !important;
        }
    }
}
