@import '../colors';

@mixin vocabulary-background {
    background-color: $vocabulary-color !important;
    background-image: none !important;
}

@mixin vocabulary-foreground {
    color: $background-color !important;
}

[id*=vocabulary],
[class*=vocabulary] {
    @include vocabulary-background;
    @include vocabulary-foreground;

    span, li, a, time {
        @include vocabulary-foreground;
    }

    h2,
    ul > li[title=Characters],
    li > a {
        @include vocabulary-background;
        @include vocabulary-foreground;
    }

    .bar {
        @include vocabulary-background;
    }
}

li[class^=vocabulary],
li[id^=vocabulary],
span[class^=vocabulary],
.vocabulary-icon {
    box-shadow: none !important;
}

.popover.srs {
    .popover-content {
        li:nth-child(3) {
            @include vocabulary-background;
            @include vocabulary-foreground;
        }
    }
}

.navbar {
    .open.vocabulary {
        .dropdown-menu,
        .dropdown-toggle {
            @include vocabulary-background;
        }

        .dropdown-menu::before,
        .dropdown-menu::after {
            border-bottom: 9px solid $vocabulary-color !important;
            @include vocabulary-foreground;
        }

        .dropdown-toggle:hover span {
            border-color: $background-color !important;
        }
    }

    .vocabulary {
        .dropdown-toggle:hover span {
            border-color: $vocabulary-color !important;
        }
    }
}
