@import '../colors';
@import '../shadows';

.legend {
    ul {
        span {
            color: $background-color !important;
            box-shadow: $lattice-legend-shadow !important;
            margin-left: 1vh;
            margin-right: 1vh;
        }

        span.locked,
        span.burned-lattice {
            background-color: $background-color !important;
            color: $text-color !important;
        }

        span.locked {
            background-color: transparent !important;
            color: $lattice-locked-color !important;
            box-shadow: none !important;
        }
    }
}
