@import '../colors';
@import '../shadows';

@mixin subsection {
    background-color: $subsection-color !important;
    box-shadow: $subsection-shadow !important;
    border-radius: 5px !important;
    border: none !important;
}

.account-subscription .account-subscription-plan,
#account-subscription-coupon-form #coupon,
.account-subscription-payment-processor-info,
.account-subscription form .control-group input[type="text"],
div.forum-posts-list table,
section[class|=lattice],
.individual-item .span12 > section,
.legend,
section[id|=level],
pre {
    @include subsection;
}

.dashboard {
    .review-status,
    .srs-progress,
    .progression,
    .recent-unlocks,
    .low-percentage,
    .recent-retired,
    .forum-topics-list,
    .blog {
        @include subsection;
    }
}

.community {
    #top-members,
    #new-members,
    #chat {
        @include subsection;
    }
}

[id|=reviews] {
    #information,
    #correct,
    #incorrect {
        @include subsection;
    }
}
