@import '../colors';
@import '../shadows';

[class*=character-grid] {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: $grid-background-color !important;
    box-shadow: $grid-inset-shadow !important;
    border-radius: 5px;
}

.multi-character-grid {
    flex-flow: wrap;
}

[class*=character-grid] > li {
    border: none !important;
    border-radius: 5px;
    margin: 5px;
    box-shadow: $grid-shadow !important;
}

[class*=character-grid] > li > a {
    background-color: transparent !important;
}
