#reviews {
    @each $item in 'radical', 'kanji', 'vocabulary' {
        // header item background and foreground
        #character.#{$item} {
            @include character($item, $inverted: true);
        }

        #last-items [class*="#{$item}"] [lang="ja"]:first-child {
            @include character($item);
        }
    }

    // session header
    #character {
        @extend %no-background-image;
        @include sheet(10);

        * {
            @extend %inherited-color;
        }
    }
}
