#reviews #additional-content #wki_button {
	border-right: 1px solid !important;
	border-color: <%= Colours::SUBSECTION %> !important;
}

#reviews #additional-content #wki_button #wki_mimic_button,
#reviews #additional-content #wki_button .wki_item_wrapper,
#reviews #additional-content #wki_button .wki_button_item_label {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

div[id|=qtip] {
	background-color: <%= Colours::SUBSECTION %> !important;
	border: none !important;
}

div[id|=qtip] div.qtip-titlebar,
div[id|=qtip] div.qtip-title {
	background-color: <%= Colours::LIST_HEAD %> !important;
	border: none !important;
}


#wki_settings_cancel,
#wki_settings_save {
	background-color: <%= Colours::SUBSECTION %> !important;
	background-image: none !important;
}

#wki_settings_button_label_bgcolor,
#wki_settings_button_label_textcolor,
#wki_settings_timer_show_next_item {
	background-color: <%= Colours::SUBSECTION %> !important;
	background-image: none !important;
}

#wki_srs_popup_wrapper div.wki_srs_popup_icon,
#wki_srs_popup_wrapper div#wki_srs_popup_message
{
	background-color: transparent !important;
}

div[id|=qtip] div.qtip-tip,
div[id|=qtip] canvas {

	color: <%= Colours::SUBSECTION %> !important;
}

/* TODO: figure out if this is stylable in some way */
#wki_iframe_previous_item {
	background-color: <%= Colours::BACKGROUND %> !important;
}
