div.community div.page-list,
div.forum div.page-list
{
	background-color: <%= Colours::SUBSECTION %> !important;
	box-shadow: 5px 5px 5px <%= Colours::SHADOW %> !important;
	border-radius: 5px;
}

div.community div.page-list li.page-list-header span,
div.forum div.page-list li.page-list-header span {
	border: none !important;
}

div.community div.page-list li a,
div.forum div.page-list li a {
	background-color: <%= Colours::LIST_ITEM %> !important;
	background-image: none !important;
	border: none;
	border-right: 1px solid;
	border-color: <%= Colours::LIST_SEPARATOR %>;
}

div.community div.page-list li:nth-child(2) a,
div.forum div.page-list li:nth-child(2) a {
	border-radius: 5px 0 0 5px;
}

div.forum div.page-list.multi-page li:nth-child(2) a {
	border-radius: 0;
}

div.forum div.page-list.multi-page li:first-child a {
	border-radius: 5px 0 0 5px;
}

div.forum div.page-list.multi-page li.disabled span {
	border: none;
}

div.community div.page-list li:last-child a,
div.forum div.page-list li:last-child a {
	border: none;
	border-radius: 0 5px 5px 0;
}


div.community section#top-members,
div.community section#new-members,
div.community section#chat {
	background-color: <%= Colours::SUBSECTION %> !important;
	border-radius: 5px;
	box-shadow: 5px 5px 5px <%= Colours::SHADOW %> !important;
}


div.community section#chat li::before {
	background-color: <%= Colours::SUBSECTION %> !important;
	border-radius: 5px;
}

div.community section#chat li {
	border-radius: 5px;
}


div.forum-header-bg::before {
	background-color: <%= Colours::BACKGROUND %> !important;
}

div.forum-header-bg {
	box-shadow: 0 5px 5px <%= Colours::SHADOW %> !important;
}


div.forum-topics-list tbody tr {
	background-color: <%= Colours::BACKGROUND %> !important;
}

div.forum-topics-list tbody tr:hover {
	background-color: <%= Colours::SUBSECTION %> !important;
}

div.forum-topics-list tbody tr th,
div.forum-topics-list tbodytr td {
	background-color: transparent !important;
}


div.forum-posts-list table {
	background-color: <%= Colours::SUBSECTION %> !important;
	box-shadow: 5px 5px 5px <%= Colours::SHADOW %> !important;
	border-radius: 5px;
}

div.forum-posts-list tbody tr {
	background-color: transparent !important;
}


form#new_post fieldset ul.wysihtml5-toolbar li a {
	background-color: <%= Colours::BUTTON_BACKGROUND %> !important;
	background-image: none !important;
	box-shadow: 5px 5px 5px <%= Colours::SHADOW %> !important;
}

form#new_post fieldset ul.wysihtml5-toolbar li a:hover {
	box-shadow: 0 0 5px <%= Colours::FOCUS_SHADOW %> !important;
	border: none !important;
}

iframe.wysihtml5-sandbox {
	box-shadow: 5px 5px 5px <%= Colours::SHADOW %> !important;
	border: none !important;
}

form#new_post fieldset div.well button {
	background-color: transparent !important;
	background-image: none !important;
	border: 1px solid <%= Colours::BUTTON_BORDER %> !important;
}
