#public-profile body header div.avatar {
	background-color: <%= Colours::BACKGROUND %> !important;
	box-shadow: inset 0 5px 5px rgba(0,0,0,0.5)
}

#public-profile body header div.avatar img {
	box-shadow: 0 5px 5px rgba(0,0,0,0.5)
}


#public-profile body header div.user-info {
	background-color: <%= Colours::SUBSECTION %> !important;
	background-image: none !important;
	box-shadow: inset 0 5px 5px rgba(0,0,0,0.5),
		    0 5px 5px rgba(0,0,0,0.5);
}

#public-profile body header div.user-info::after {
	border-bottom-color: transparent !important;
}


#public-profile body div.knowledge-distribution div.srs-levels li span {
	background-color: transparent !important;
	box-shadow: none !important;
}

#public-profile body div.progress {
	background-color: <%= Colours::PROGRESS_BACK %> !important;
	background-image: none !important;
	border-radius: 10px;
	display: flex;
	align-items: center;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5) inset;
}

#public-profile body div.progress div.bar {
	background-color: <%= Colours::PROGRESS_BAR %>;
	background-image: none !important;
	height: 60%;
	border-radius: 10px;
	margin-left: 5px;
	margin-right: 5px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

#public-profile body div.progress div.bar span {
	background-color: <%= Colours::DROPDOWN %>;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

#public-profile body div.progress div.bar span::after {
	border-top-color: <%= Colours::DROPDOWN %>;
}


#public-profile body div.wall-of-shame {
	background-color: transparent !important;
}

#public-profile body div.wall-of-shame h3 span {
	background-color: transparent !important;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.5);
}
