$navbar-shadow:         0 3px 3px rgba(0, 0, 0, 0.5);
$subsection-shadow:     3px 3px 3px rgba(0, 0, 0, 0.5);
$page-list-shadow:      3px 3px 3px rgba(0, 0, 0, 0.5);
$searchbar-in-shadow:   0 -3px 3px -3px rgba(0, 0, 0, 0.5) inset;
$search-query-shadow:   3px 3px 3px rgba(0, 0, 0, 0.5) inset;
$grid-shadow:           3px 3px 3px rgba(0, 0, 0, 0.5);
$grid-inset-shadow:     3px 3px 3px rgba(0, 0, 0, 0.5) inset;
$dropdown-shadow:       3px 3px 3px rgba(0, 0, 0, 0.5);
$timeline-shadow:       3px 3px 3px rgba(0, 0, 0, 0.5);
$textform-shadow:       3px 3px 3px rgba(0, 0, 0, 0.5) inset;
$popover-shadow:        3px 3px 3px rgba(0, 0, 0, 0.5);
$review-stats-shadow:   3px 3px 3px rgba(0, 0, 0, 0.5);
$sub-active-shadow:     0 0 5px rgba(246, 116, 0, 0.5);
$payment-submit-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
$editor-shadow:         3px 3px 3px rgba(0, 0, 0, 0.5);
$focus-shadow:          0 0 5px rgba(61, 174, 233, 0.5);
$forum-header-shadow:   0 3px 3px rgba(0, 0, 0, 0.5);
$list-head-shadow:      0 -5px 10px rgba(0, 0, 0, 0.5) inset;
$lattice-legend-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5) inset;
$text-meaning-shadow:   0 0 10px rgb(218, 68, 83);
$text-reading-shadow:   0 0 10px rgb(29, 153, 243);
