/* dashboard */

#search #query
{
	border: 3px solid;
	border-color: <%= Colours::SUBSECTION %> !important;
	background-image: none !important;
	background-color: transparent !important;
}

#search div.search-list
{
	border: none !important;
	background-color: transparent !important;
}

#search div.search-list a.btn
{
	border: none !important;
	background-color: transparent !important;
	box-shadow: none !important;
}

div.navbar div.navbar-inner
{
	background-image: none !important;
	background-color: <%= Colours::SUBSECTION %> !important;
	box-shadow: none !important;
	border: none !important;
}

div.navbar ul.nav a.dropdown-toggle span
{
	border-color: <%= Colours::BACKGROUND %> !important;
	box-shadow: none !important;
}


div.dashboard section.progression,
div.dashboard tr.none-available,
div.dashboard div.see-more,
div.dashboard section.review-status
{
	background-image: none !important;
	background-color: <%= Colours::SUBSECTION %> !important;
	box-shadow: none !important;
}

div.dashboard section.review-status,
div.dashboard section.review-status li
{
	border: none;
}

div.dashboard section.review-status
{
	margin-top: 1vh;
	margin-bottom: 1vh;
	border: 1px hidden;
	border-radius: 5px;
}

div.dashboard section.srs-progress li
{
	box-shadow: none;
	opacity: 0.7;
}

div.dashboard section.srs-progress
{
	margin-bottom: 1vh;
}

div.dashboard section.srs-progress li:last-child
{
	border-radius: 0 5px 5px 0;
}

div.dashboard section.srs-progress li:first-child
{
	border-radius: 5px 0 0 5px;
}

div.dashboard tr.none-available div
{
	box-shadow: none !important;
	border: none !important;
}

div.dashboard section.forum-topics-list table td,
div.dashboard section.blog tr.blog-item
{
	background-image: none !important;
	background-color: <%= Colours::LIST_ITEM %> !important;
}

div.dashboard section.dashboard-sub-section h3
{
	background-image: none !important;
	background-color: <%= Colours::LIST_HEAD %> !important;
}
