@import 'shared/colors';
@import 'shared/levels';
@import 'shared/symbol';
@import 'shared/subsection';
@import 'shared/popover';
@import 'shared/progressbar';


.dashboard {
    .row .row {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1vh;

        .row {
            align-items: stretch;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1vh;
        }
    }

    .span4 {
        padding-bottom: 1vh;
        padding-top: 1vh;
    }

    .span6 {
        padding-bottom: 1vh;
        padding-top: 1vh;
    }
}

.review-status {
    @include subsection;

    border: 1px hidden !important;
    margin-bottom: 1vh !important;
    margin-top: 1vh !important;

    li {
        background-color: transparent !important;
        border: none !important;
    }
}

.srs-progress {
    @include subsection;

    margin-bottom: 1vh !important;

    ul > li {
        background-color: transparent !important;
        background-image: none !important;
        border-right: 1px solid $list-separator-color;
        box-shadow: none !important;
    }

    ul > #burned span {
        @include burned-text;
    }

    ul > #enlightened span {
        @include enlightened-text;
    }

    ul > #master span {
        @include master-text;
    }

    ul > #guru span {
        @include guru-text;
    }

    ul > #apprentice span {
        @include apprentice-text;
    }

    li:first-child {
        border-radius: 5px 0 0 5px !important;
    }

    li:last-child {
        border: 0;
        border-radius: 0 5px 5px 0 !important;
    }
}

// scss-lint:disable QualifyingElement
section.progression {
    @include subsection;

    margin-bottom: 1vh !important;
    margin-top: 0 !important;

    hr {
        border-bottom: 1px solid $background-color !important;
        border-top: 1px solid $background-color !important;
        color: $background-color !important;
    }

    span,
    span > i {
        color: $text-color !important;
    }

    .lattice-single-character {
        background-image: none !important;

        ul > li {
            background-color: transparent !important;
            padding: 2px !important;
        }

        @each $type in radical, kanji {
            li[id^=#{$type}] > a {
                @include symbol-background-color($type);
            }
        }
    }

    [class$=-progress] {
        background-color: transparent !important;
    }
}

.recent-unlocks,
.low-percentage,
.recent-retired {
    @include subsection;
}

.kotoba-table-list {
    min-height: 100%;

    tr {
        background-color: transparent !important;

        td {
            border-bottom: 1px solid $list-separator-color !important;
        }
    }

    .none-available > td {
        border-bottom: none !important;
    }

    @each $type in radical, kanji, vocabulary {
        tr[id^=#{$type}] {
            span, time, i {
                @include symbol-foreground($type);
                text-shadow: 1px 1px 1px symbol-color($type) !important;
            }
        }
    }

    tr:last-child {
        border: none !important;
    }
}

.none-available,
.see-more {
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;

    div {
        border: none !important;
        box-shadow: none !important;
    }
}

.none-available:hover {
    background-color: transparent !important;
}

.see-more a {
    background-image: none !important;
}

.forum-topics-list,
.blog {
    @include subsection;

    min-height: 100%;

    hr {
        border-color: $list-separator-color !important;
        color: $list-separator-color !important;
    }
}

.dashboard-sub-section h3 {
    background-color: $list-head-color !important;
    background-image: none !important;
    box-shadow: none !important;
    color: $subsection-color !important;

    .heading-symbol {
        border-color: $subsection-color !important;
        box-shadow: none !important;
    }

    i::before {
        color: $subsection-color !important;
    }
}
