@import 'shared/colors';
@import 'shared/textfield';
@import 'shared/button';


.level-icon,
[class$=-highlight] {
    box-shadow: none !important;
}


// user synonyms list

.user-synonyms {
    margin-left: 5px;

    li::after {
        background-color: transparent !important;
    }
}

.user-synonyms-add-btn::before {
    background-color: transparent !important;
}

.user-synonyms-add-form {
    input {
        border-bottom: none !important;
    }

    button {
        @include button;
    }
}


.individual-item {
    .span12 > section {
        margin-bottom: 1vh !important;
        padding: 10px;
    }

    h2,
    [id|=radical],
    .additional-info {
        background-color: transparent !important;
    }

    h2,
    [id|=radical] a {
        color: $text-color !important;
    }
}

#progress {
    background-color: transparent !important;
    margin-left: 2vw;
    margin-right: 2vw;
}

[id^=note-] form fieldset {
    @include textfield;
}
