@import 'shared/colors';
@import 'shared/shadows';
@import 'shared/textfield';
@import 'shared/button';

$correct-progress-color: $shade-black;
$user-synonym-color:     $iron-grey;

$icon-shadow: $default-shadow;


[class$=-highlight] {
    box-shadow: none !important;
}


// level and symbol icons

.level-icon {
    @include subsection;
    background-image: none !important;
}

@each $t in radical, kanji, vocabulary {
    span.#{$t}-icon {
        border: none !important;
        box-shadow: $icon-shadow !important;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }
}


// user synonyms list

#information {
    @include subsection;
}

.user-synonyms {
    background-color: transparent !important;
    margin-left: 5px;

    li, i {
        color: $text-color !important;
    }

    li::after {
        background-color: transparent !important;
    }
}

.user-synonyms-add-btn::before {
    background-color: transparent !important;
}

.user-synonyms-add-form {
    input {
        border: none !important;
        border-bottom: 1px solid $user-synonym-color !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }

    button {
        @include button;
    }
}


.individual-item {
    .span12 > section {
        margin-bottom: 1vh !important;
        padding: 10px;
    }

    h2,
    [id|=radical],
    .additional-info {
        background-color: transparent !important;
    }

    h2,
    [id|=radical] a {
        color: $text-color !important;
    }
}

#progress {
    background-color: transparent !important;
    margin-left: 2vw;
    margin-right: 2vw;

    [class$=-streak] span {
        background-color: $correct-progress-color !important;
    }

    [class$=-correct] {
        .progress {
            background-color: $correct-progress-color !important;
        }
    }
}

[id^=note-] form fieldset {
    @include textfield;
}
