/* lessons page */

#header-buttons li a,
#header-buttons li i,
#lessons #stats li
{
	color: <%= Colours::BACKGROUND %> !important;
}

#lessons #lesson-ready-continue,
#lessons #quiz-ready-continue,
#lessons #supplement-info
{
	background-color: <%= Colours::SUBSECTION %> !important;
}

#lessons #supplement-info
{
	box-shadow: none !important;
}

#lessons #supplement-info blockquote
{
	background-color: <%= Colours::SUBSECTION %> !important;
}

#lessons #next-btn:hover,
#lessons #prev-btn:hover
{
	background-color: <%= Colours::BACKGROUND %> !important;
	opacity: 0.5;
}

#lessons #supplement-nav li::before
{
	border-color: transparent transparent <%= Colours::SUBSECTION %> transparent !important;
}

#lessons #character,
#lessons #meaning
{
	color: <%= Colours::BACKGROUND %> !important;
}

#lessons #batch-items li[data-index=quiz] span
{
	background-color: <%= Colours::BACKGROUND %> !important;
}


/* userscript: lesson reorder */

#lessons #divSt
{
	margin-top: 2vh;
	color: <%= Colours::BACKGROUND %> !important;
}

#lessons #reorderBtn,
#lessons #reorderVBtn
{
	border-color: <%= Colours::SUBSECTION %> !important;
	border-style: solid;
	border-radius: 5px;
	background-color: <%= Colours::SUBSECTION %> !important;
	margin-top: 1vh;
	width: 200px;
}
