/* levels */

div.dashboard #burned
{
	background-image: none !important;
	background-color: <%= Colours::BURNED %> !important;
}

div.dashboard #enlightened
{
	background-image: none !important;
	background-color: <%= Colours::ENLIGHTENED %> !important;
}

div.dashboard #master
{
	background-image: none !important;
	background-color: <%= Colours::MASTER %> !important;
}

div.dashboard #guru
{
	background-image: none !important;
	background-color: <%= Colours::GURU %> !important;
}

div.dashboard #apprentice
{
	background-image: none !important;
	background-color: <%= Colours::APPRENTICE %> !important;
}
