* {
  color: <%= Colours::TEXT %> !important;
  text-shadow: none !important;
}

body {
  background-image: none !important;
  background-color: <%= Colours::BACKGROUND %> !important;
}

#hotkeys {
  background-color: <%= Colours::SUBSECTION %> !important;
}

#loading,
#loading-screen
{
  background-color: <%= Colours::BACKGROUND %> !important;
}

#additional-content-load {
  background-color: <%= Colours::SUBSECTION %> !important;
}

.alert {
  background-color: <%= Colours::SUBSECTION %> !important;
  border: none !important;
}
