@import 'shared/colors';
@import 'shared/shadows';
@import 'shared/subsection';

$page-list-background-color: $shade-black;
$page-list-item-color:       $plasma-blue;
$page-list-text-color:       $shade-black;
$page-list-separator-color:  $charcoal-grey;
$page-list-hover-color:      rgba(0, 0, 0, 0.2);

$page-list-shadow:       $default-shadow;
$page-list-focus-shadow: $default-focus-shadow;


.page-list {
    background-color: $page-list-background-color !important;
    border-radius: 5px;
    box-shadow: $page-list-shadow !important;

    ul {
        margin-left: 5px;
    }

    li > a {
        background-color: $page-list-item-color !important;
        background-image: none !important;
        border: none !important;
        border-color: $page-list-separator-color !important;
        border-right: 1px solid !important;
        box-shadow: $page-list-shadow !important;
        color: $page-list-text-color !important;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    li > a:hover {
        box-shadow: $page-list-focus-shadow !important;
    }

    li:last-child > a {
        border: none !important;
        border-radius: 0 5px 5px 0;
    }

    li:first-child > a {
        border-radius: 5px 0 0 5px;
    }

    .disabled span {
        border: 0;
    }
}

// levels page + forums

.page-list-header {
    width: 110px;

    span {
        border: none !important;
    }

    + li a {
        border-radius: 5px 0 0 5px;
    }
}

// settings + account pages

.nav-tabs.nav-stacked {
    @include subsection;

    > li > a {
        border: none !important;
    }

    > li > a:hover {
        background-color: $page-list-hover-color !important;
    }

    > .active > a:hover,
    > .active > a {
        background-color: $page-list-item-color !important;
    }
}
