@import 'shared/colors';
@import 'shared/shadows';
@import 'shared/progressbar';

$user-info-background-color: $shade-black;
$user-progressbar-color:     $shade-black;
$user-wos-header-color:      $shade-black;

$wall-of-shame-shadow: $default-shadow inset;
$user-avatar-shadow:   $default-shadow;
$user-info-shadow:     $default-shadow-v inset,
                       $default-shadow-v;


.avatar {
    background-color: $background-color !important;
    box-shadow: $user-avatar-shadow inset !important;

    img {
        box-shadow: $user-avatar-shadow !important;
    }
}

.user-info {
    background-color: $user-info-background-color !important;
    background-image: none !important;
    box-shadow: $user-info-shadow;
}

.user-info::after {
    border-bottom-color: transparent !important;
}

.srs-levels li span {
    background-color: transparent !important;
    box-shadow: none !important;
}

.knowledge-distribution {
    [class$=-progress] {
        background-color: transparent !important;

        .progress {
            background-color: $user-progressbar-color !important;
        }
    }

    div > span {
        color: $text-color !important;
    }
}

.wall-of-shame {
    background-color: transparent !important;

    h3 > span {
        background-color: $user-wos-header-color !important;
        box-shadow: $wall-of-shame-shadow !important;
    }

    li > span,
    div > span {
        color: $text-color !important;
    }

    [class$=-progress],
    [class^=worst-] {
        background-color: transparent !important;

        .progress {
            background-color: $user-progressbar-color !important;
        }
    }

}
