/* radicals color */

tr[id|=radical],
span.radical,
.highlight-radical,
#character.radical,
section.progression .radicals-progress .bar,
.nav .dropdown.radicals.open .dropdown-toggle
{
	background-color: <%= Colours::RADICAL %> !important;
	background-image: none !important;
	box-shadow: none !important;
}

.nav .radicals.open .dropdown-menu li.nested-level a:hover
{
	background-color: rgb(201, 206, 59) !important;
}

.nav .dropdown.radicals.open ul.dropdown-menu::before,
.nav .dropdown.radicals.open ul.dropdown-menu::after
{
	border-bottom: 9px solid rgb(201, 206, 59) !important;
	border-bottom-color: rgb(201, 206, 59) !important;
}
