/* review summary */

#review-stats-radicals,
#review-stats-kanji,
#review-stats-vocabulary {
	background-image: none !important;
	background-color: <%= Colours::SUBSECTION %> !important;
}

.burned, .burned span,
.enlightened, .enlightened span,
.master, .master span,
.guru, .guru span,
.apprentice, .apprentice span {
	background-image: none !important;
	background-color: <%= Colours::SUBSECTION %> !important;
}

.pure-u-1,
.pure-u-1-4,
[id|=review-stats],
#incorrect .vocabulary,
#incorrect .kanji,
#incorrect .radicals,
#correct .vocabulary,
#correct .kanji,
#correct .radicals{
	box-shadow: none !important;
}

#incorrect strong,
#correct strong {
	background-color: transparent !important;
}

#incorrect h2 {
	background-color: <%= Colours::INCORRECT %> !important;
}

#correct h2 {
	background-color: <%= Colours::CORRECT %> !important;
}


/* review */

#reviews #question-type {
	background-image: none !important;
}

#reviews #question-type.meaning,
#reviews #question-type.reading
{
	background-color: transparent !important;
	border-color: transparent !important;
}

#reviews #user-response,
#reviews #answer-form fieldset button
{
	border-bottom: 1px solid !important;
	border-color: <%= Colours::SUBSECTION %> !important;
}

#reviews #user-response {
	box-shadow: none !important;
}

#reviews #additional-content li[id^=option] span {
	background-color: <%= Colours::BACKGROUND %> !important;
	box-shadow: none !important;
	border-right: 1px solid !important;
	border-color: <%= Colours::SUBSECTION %> !important;
}

#reviews #additional-content li[id^=option]:last-child span {
	border-right: none !important;
}


#reviews #additional-content li::before {
	background-color: inherit !important;
	color: <%= Colours::SUBSECTION %> !important;
	box-shadow: none !important;
}

#reviews #all-info {
	background-color: transparent !important;
}

#reviews #answer-exception span {
	background-color: <%= Colours::SUBSECTION %> !important;
	box-shadow: none !important;
}

#reviews #answer-exception span::before {
	content: "";
	border-color: transparent transparent <%= Colours::SUBSECTION %> transparent !important;
}

#reviews #question-type .srs-up,
#reviews #question-type .srs-down
{
	background-color: transparent !important;
	color: <%= Colours::BACKGROUND %> !important;
}
