@import 'shared/colors';
@import 'shared/shadows';
@import 'shared/symbol';
@import 'shared/subsection';
@import 'shared/correctness';
@import 'shared/textfield';

$lesson-color:           $shade-black;
$lessons-header-shadow:  $default-shadow-v;
$supplement-info-shadow: $default-shadow;
$note-shadow:            $default-shadow inset;
$meaning-color:          $icon-red;
$reading-color:          $icon-blue;
$addcon-sep-color:       $shade-black;
$reading-background-color: '/*[[REVIEW_READING_BG]]*/';
$meaning-background-color: '/*[[REVIEW_MEANING_BG]]*/';

$question-type-shadow:    $default-shadow-v inset;
$answer-form-shadow:      $default-shadow-v inset, $default-shadow-v;
$answer-exception-shadow: $default-shadow;
$review-character-shadow: $default-shadow-v;
$text-meaning-shadow:     0 0 10px $meaning-color;
$text-reading-shadow:     0 0 10px $reading-color;


#header-buttons li a,
#header-buttons li i,
#lessons #stats li,
#lessons #stats li span,
.srs-up,
.srs-down {
    background-color: transparent !important;
    color: $background-color !important;
}

#lesson-ready-continue,
#quiz-ready-continue,
#supplement-info {
    background-color: $lesson-color !important;
}

#lessons header {
    box-shadow: $lessons-header-shadow !important;
}

#supplement-nav {
    background-color: transparent !important;

    li::before {
        border-color: transparent transparent $lesson-color !important;
    }
}


#supplement-info {
    border-radius: 5px;
    box-shadow: $supplement-info-shadow !important;

    blockquote {
        background-color: $lesson-color !important;
    }
}

#next-btn:hover,
#prev-btn:hover {
    background-color: $background-color !important;
    opacity: 0.5;
}

#character,
#meaning,
#summary-button i,
#stats i,
#stats span {
    color: $background-color !important;
}

#batch-items [data-index=quiz] span {
    background-color: $background-color !important;
}

#information,
#correct,
#incorrect {
    @include subsection;
}

#correct,
#incorrect {
    .hover li {
        color: $text-color !important;
    }
}

#question-type {
    background-image: none !important;
    border: 0 !important;
    box-shadow: $question-type-shadow !important;
    margin: 0 !important;
    padding: .67em 0 !important;

    &.reading {
        background-color: $reading-background-color !important;
    }

    &.meaning {
        background-color: $meaning-background-color !important;
    }
}

.note-meaning,
.note-reading {
    fieldset {
        background-color: $background-color !important;
        border-radius: 5px;
        box-shadow: $note-shadow !important;

        button {
            background-color: transparent !important;
        }
    }
}

.meaning,
.reading {
    background-color: transparent !important;
    border-color: transparent !important;
}

.meaning > h1 > strong {
    text-shadow: $text-meaning-shadow !important;
}

.reading > h1 > strong {
    text-shadow: $text-reading-shadow !important;
}


#answer-form {
    fieldset {
        padding: 0;
        background-color: $textfield-color !important;
        box-shadow: $answer-form-shadow !important;

        input {
            background-color: transparent !important;
            box-shadow: none !important;
        }

        button {
            background-color: transparent !important;
            height: 2.3em !important;
        }
    }

    // scss-lint:disable QualifyingElement, MergeableSelector
    fieldset.incorrect {
        background-color: $incorrect-color !important;

        input[type=text]:disabled,
        button {
            background-color: transparent !important;
        }
    }

    // scss-lint:disable QualifyingElement, MergeableSelector
    fieldset.correct {
        background-color: $correct-color !important;

        input[type=text]:disabled,
        button {
            background-color: transparent !important;
        }
    }
}

#additional-content {
    li {
        span {
            background-color: $background-color !important;
            border-color: $subsection-color !important;
            border-right: 1px solid $addcon-sep-color !important;
            box-shadow: none !important;
        }

        span::before {
            background-color: inherit !important;
            box-shadow: none !important;
            color: $text-color !important;
        }

        span:hover::before {
            background-color: $background-color !important;
            box-shadow: none !important;
            color: $text-color !important;
        }

        &::before {
            border-color: transparent transparent $subsection-color !important;
        }

        &:last-child span {
            border-right: none !important;
        }
    }

    // this BS requires extra handling apparently
    ul .wrap-up-selected {
        span,
        span:hover::before {
            background-color: $background-color !important;
        }

        span::before {
            background-color: inherit !important;
        }
    }
}


#additional-content-load {
    background-color: $subsection-color !important;
}

#answer-exception {
    span {
        background-color: $subsection-color !important;
        border-radius: 5px;
        box-shadow: $answer-exception-shadow !important;
    }

    span::before {
        border-color: transparent transparent $subsection-color !important;
    }
}

#all-info {
    background-color: transparent !important;
}

#information {
    background-color: $subsection-color !important;
    border-radius: 5px;
    box-shadow: $default-shadow !important;

}

#item-info {
    .user-synonyms-add-btn::before {
        background-color: transparent !important;
    }

    .user-synonyms-add-form {
        input {
            background-color: transparent !important;
        }

        button {
            background-color: $background-color !important;
            border: 2px solid;
            border-color: $background-color !important;
            height: 2vh;
        }
    }
}

#related-items {
    ul, ul a {
        background-color: transparent !important;
    }

    ul a {
        color: $text-color !important;
    }
}

#last-items li ul {
    background-color: $background-color !important;

    [title*=meaning],
    [title*=reading] {
        color: $text-color !important;
    }
}

#kana-chart [id^=chart-] li:hover {
    background-color: $background-color !important;
    box-shadow: none !important;
}

#screen-lesson-ready #lesson-ready-continue,
#hotkeys {
    background-color: $subsection-color !important;
}
