/* vocabulary colour */

tr[id|=vocabulary],
span.vocabulary,
#lessons #main-info.vocabulary,
#lessons #batch-items span.vocabulary,
#lessons span.highlight-vocabulary,
#reviews #character.vocabulary
{
	background-color: <%= Colours::VOCABULARY %> !important;
	background-image: none !important;
	box-shadow: none !important;
	color: <%= Colours::BACKGROUND %> !important;
}

#lessons span.highlight-vocabulary {
	border: solid 2px;
	border-radius: 5px;
	border-color: <%= Colours::VOCABULARY %>;
}

#reviews #character.vocabulary span {
	color: <%= Colours::BACKGROUND %> !important;
}
