$paper-white:      rgb(252, 252, 252); // #fcfcfc
$iron-grey:        rgb(77, 77, 77);    // #4d4d4d
$charcoal-grey:    rgb(49, 54, 59);    // #31363b
$shade-black:      rgb(35, 38, 41);    // #232629
$plasma-blue:      rgb(61, 174, 233);  // #3daee9
$icon-red:         rgb(218, 68, 83);   // #da4453
$danger-red:       rgb(237, 21, 21);   // #ed1515
$icon-orange:      rgb(244, 119, 80);  // #f47750
$beware-orange:    rgb(246, 116, 0);   // #f67400
$icon-yellow:      rgb(253, 188, 75);  // #fdbc4b
$sunbeam-yellow:   rgb(201, 206, 59);  // #c9ce3b
$mellow-turquoise: rgb(28, 220, 154);  // #1cdc9a
$icon-green:       rgb(46, 204, 113);  // #2ecc71
$verdant-green:    rgb(17, 209, 22);   // #11d116
$icon-blue:        rgb(29, 153, 243);  // #1d99f3

$text-color:       $paper-white;
$background-color: $charcoal-grey;
