@import 'colors';
@import 'shadows';

$progress-background-color:    $iron-grey;
$progressbar-background-color: $icon-blue;
$progressbar-indicator-color:  $iron-grey;
$progressbar-threshold-color:  $charcoal-grey;

$progressbar-shadow: $default-shadow;
$progressbar-threshold-shadow: 1px 0 0 $progressbar-threshold-color;
