$default-shadow-color:       rgba(0, 0, 0, 0.5);
$default-focus-shadow-color: rgba(61, 174, 233, 0.5);

$default-shadow:       3px 3px 3px $default-shadow-color;
$default-shadow-v:     0   3px 3px $default-shadow-color;
$default-focus-shadow: 0   0   5px $default-focus-shadow-color;
