@import 'colors';

$radical-color:     $plasma-blue;
$kanji-color:       $icon-yellow;
$vocabulary-color:  $icon-green;
$symbol-text-color: $shade-black;

@function symbol-color($type) {
    @if $type == vocabulary {
        @return $vocabulary-color;
    } @else if $type == kanji {
        @return $kanji-color;
    } @else {
        @return $radical-color;
    }
}

@mixin symbol-background($type) {
    background-color: symbol-color($type) !important;
    background-image: none !important;
}

@mixin symbol-foreground($type) {
    color: symbol-color($type) !important;
}

@mixin radical-background {
    @include symbol-background('radical');
}

@mixin kanji-background {
    @include symbol-background('kanji');
}

@mixin vocabulary-background {
    @include symbol-background('vocabulary');
}

// NOTE: those are pretty much useless

@mixin radical-foreground {
    color: $symbol-text-color !important;
}

@mixin kanji-foreground {
    color: $symbol-text-color !important;
}

@mixin vocabulary-foreground {
    color: $symbol-text-color !important;
}
