#public-profile div.worst-kanji span.kanji-icon,
#lessons span.highlight-kanji,
#lessons #supplement-info span.kanji,
#lessons #information #related-items span.kanji,
#lessons #main-info.kanji,
#lessons #batch-items span.kanji,
#lessons-summary #kanji li,
#lessons-summary #kanji h2,
#reviews #character.kanji,
#reviews #character.kanji span,
#reviews span.highlight-kanji,
#reviews #related-items span.kanji,
#reviews #last-items li.kanji ul li[title=Characters],
#reviews-summary #correct li.kanji,
#reviews-summary #incorrect li.kanji,
div.popover.srs div.popover-content li:nth-child(2),
div.dashboard section.recent-unlocks tr[id|=kanji],
div.dashboard section.low-percentage tr[id|=kanji],
div.dashboard section.recent-retired tr[id|=kanji],
div.dashboard section.progression li[id|=kanji] a,
div.dashboard section.progression div.kanji-progress div.bar,
#search section.search-results li[id|=kanji],
section[id|=level][id$=kanji] li.character-item /* levels page */
{
	background-color: <%= Colours::KANJI %> !important;
	background-image: none !important;
	color: <%= Colours::BACKGROUND %> !important;
}

#public-profile div.worst-kanji span.kanji-icon span,
#reviews-summary #correct li.kanji a,
#reviews-summary #incorrect li.kanji a,
#lessons-summary #kanji li a,
div.dashboard section.recent-unlocks tr[id|=kanji] a span,
div.dashboard section.recent-unlocks tr[id|=kanji] a time,
div.dashboard section.low-percentage tr[id|=kanji] a span,
div.dashboard section.recent-retired tr[id|=kanji] a span,
#search section.search-results li[id|=kanji] span,
#search section.search-results li[id|=kanji] li,
section[id|=level][id$=kanji] li.character-item span, /* levels page */
section[id|=level][id$=kanji] li.character-item li    /* levels page */
{
	color: <%= Colours::BACKGROUND %> !important;
}

#reviews-summary #correct li.kanji,
#reviews-summary #incorrect li.kanji,
#lessons #batch-items span.kanji,
#lessons-summary #kanji li
{
	box-shadow: none !important;
}

#search section.search-results li[id|=kanji]
{
	border-color: <%= Colours::KANJI %> !important;
}

#lessons span.highlight-kanji,
#lessons #batch-items span.kanji,
#lessons-summary #kanji li,
#reviews span.highlight-kanji
{
	border: solid 1px;
	border-radius: 5px;
	border-color: <%= Colours::KANJI %>;
}

div.navbar ul.nav li.kanji.open a.dropdown-toggle
{
	background-color: <%= Colours::KANJI %> !important;
	opacity: 0.80;
}

div.navbar ul.nav li.kanji.open ul.dropdown-menu::before,
div.navbar ul.nav li.kanji.open ul.dropdown-menu::after
{
	border-bottom: 9px solid <%= Colours::KANJI %> !important;
	color: <%= Colours::KANJI %> !important;
}

div.navbar ul.nav li.kanji.open ul.dropdown-menu
{
	background-color: <%= Colours::KANJI %> !important;
}

div.navbar ul.nav li.kanji.open ul.dropdown-menu li a,
div.navbar ul.nav li.kanji.open a.dropdown-toggle,
div.navbar ul.nav li.kanji.open a.dropdown-toggle span,
div.navbar ul.nav li.kanji.open a.dropdown-toggle i,
div.navbar ul.nav li.kanji.open ul.dropdown-menu li.nav-header
{
	color: <%= Colours::BACKGROUND %> !important;
}

div.navbar ul.nav li.kanji.open ul.dropdown-menu li a:hover
{
	background-color: rgba(0,0,0,0.2) !important;
}
