/* blog */

div.dashboard section.blog
{
	background-color: <%= Colours::SUBSECTION %> !important;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

div.dashboard section.blog tr.blog-item
{
	background-image: none !important;
	background-color: <%= Colours::LIST_ITEM %> !important;
}

div.dashboard section.blog div.see-more a
{
	background-image: none !important;
}
