div.dashboard section.forum-topics-list,
div.dashboard section.blog
{
	background-color: <%= Colours::SUBSECTION %> !important;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	min-height: 57vh !important;
}

div.dashboard section.forum-topics-list table td,
div.dashboard section.blog tr.blog-item
{
	background-image: none !important;
	background-color: <%= Colours::LIST_ITEM %> !important;
}

div.dashboard section.forum-topics-list div.see-more a,
div.dashboard section.blog div.see-more a
{
	background-image: none !important;
}
