/* review status (availability) */

div.dashboard section.review-status
{
	background-color: <%= Colours::SUBSECTION %> !important;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5) !important;
}

div.dashboard section.review-status,
div.dashboard section.review-status li
{
	background-color: none !important;
	border: none;
}

div.dashboard section.review-status
{
	margin-top: 1vh;
	margin-bottom: 1vh;
	border: 1px hidden;
}
