div.dashboard section.srs-progress
{
	background-color: transparent !important;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5) !important;
	border-radius: 5px !important;
	margin-bottom: 1vh;
}

div.dashboard section.srs-progress li
{
	border-right: 1px solid <%= Colours::LIST_SEPARATOR %>;
	box-shadow: none !important;
}

div.dashboard section.srs-progress li:first-child
{
	border-radius: 5px 0 0 5px !important;
}

div.dashboard section.srs-progress li:last-child
{
	border: none;
	border-radius: 0 5px 5px 0 !important;
}

/*
div.popover
{
	border-color: <%= Colours::POPOVER_BORDER %> !important;
}

div.popover div.arrow,
div.popover div.arrow::after
{
	border-right-color: <%= Colours::POPOVER_BORDER %> !important;
}
*/

div.popover.srs h3.popover-title
{
	background-color: <%= Colours::SUBSECTION %> !important;
	box-shadow: none !important;
}

div.popover.srs div.popover-content li
{
	border: none !important;
}

div.popover.srs div.popover-content li span
{
	color: <%= Colours::BACKGROUND %> !important;
}
