#lessons span.highlight-vocabulary,
#lessons #supplement-info span.vocabulary,
#lessons #information #related-items span.vocabulary,
#lessons #main-info.vocabulary,
#lessons #batch-items span.vocabulary,
#lessons-summary #vocabulary li,
#lessons-summary #vocabulary h2,
#reviews #character.vocabulary,
#reviews span.highlight-vocabulary,
#reviews #last-items li.vocabulary ul li[title=Characters],
#reviews-summary #correct li.vocabulary,
#reviews-summary #incorrect li.vocabulary,
div.popover.srs div.popover-content li:nth-child(3),
div.dashboard section.recent-unlocks tr[id|=vocabulary],
div.dashboard section.low-percentage tr[id|=vocabulary],
div.dashboard section.recent-retired tr[id|=vocabulary],
#search section.search-results li[id|=vocabulary]
{
	background-color: <%= Colours::VOCABULARY %> !important;
	background-image: none !important;
	color: <%= Colours::BACKGROUND %> !important;
}

#reviews-summary #correct li.vocabulary a,
#reviews-summary #incorrect li.vocabulary a,
div.dashboard section.recent-unlocks tr[id|=vocabulary] a span,
div.dashboard section.recent-unlocks tr[id|=vocabulary] a time,
div.dashboard section.low-percentage tr[id|=vocabulary] a span,
div.dashboard section.recent-retired tr[id|=vocabulary] a span,
#search section.search-results li[id|=vocabulary] span,
#search section.search-results li[id|=vocabulary] li,
#lessons-summary #vocabulary li a
{
	color: <%= Colours::BACKGROUND %> !important;
}

#reviews-summary #correct li.vocabulary,
#reviews-summary #incorrect li.vocabulary,
#lessons #batch-items span.vocabulary,
#lessons-summary #vocabulary li
{
	box-shadow: none !important;
}

#search section.search-results li[id|=vocabulary]
{
	border-color: <%= Colours::VOCABULARY %> !important;
}

#lessons span.highlight-vocabulary,
#lessons #batch-items span.vocabulary,
#lessons-summary #vocabulary li,
#reviews span.highlight-vocabulary
{
	border: solid 2px;
	border-radius: 5px;
	border-color: <%= Colours::VOCABULARY %>;
}

#reviews #character.vocabulary span {
	color: <%= Colours::BACKGROUND %> !important;
}

div.navbar ul.nav li.vocabulary.open a.dropdown-toggle
{
	background-color: <%= Colours::VOCABULARY %> !important;
	opacity: 0.80;
}

div.navbar ul.nav li.vocabulary.open ul.dropdown-menu::before,
div.navbar ul.nav li.vocabulary.open ul.dropdown-menu::after
{
	content: '';
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-bottom: 9px solid <%= Colours::VOCABULARY %> !important;
	color: <%= Colours::VOCABULARY %> !important;
}

div.navbar ul.nav li.vocabulary.open ul.dropdown-menu
{
	background-color: <%= Colours::VOCABULARY %> !important;
}

div.navbar ul.nav li.vocabulary.open ul.dropdown-menu li a,
div.navbar ul.nav li.vocabulary.open a.dropdown-toggle,
div.navbar ul.nav li.vocabulary.open a.dropdown-toggle span,
div.navbar ul.nav li.vocabulary.open a.dropdown-toggle i,
div.navbar ul.nav li.vocabulary.open ul.dropdown-menu li.nav-header
{
	color: <%= Colours::BACKGROUND %> !important;
}

div.navbar ul.nav li.vocabulary.open ul.dropdown-menu li a:hover
{
	background-color: rgba(0,0,0,0.2) !important;
}
