/* radicals color */

#lessons span.highlight-radical,
#reviews #character.radical,
#reviews #character.radical span,
#reviews span.highlight-radical,
#reviews #last-items li.radicals ul li[title=Characters],
#reviews-summary #correct li.radicals,
#reviews-summary #incorrect li.radicals,
div.popover.srs div.popover-content li:nth-child(1),
div.dashboard section.recent-unlocks tr[id|=radical],
div.dashboard section.low-percentage tr[id|=radical],
div.dashboard section.recent-retired tr[id|=radical],
div.dashboard section.progression li[id|=radical] a,
div.dashboard section.progression li[id|=radical] a i,
div.dashboard section.progression div.radicals-progress div.bar,
#search section.search-results li[id|=radical]
{
	background-color: <%= Colours::RADICAL %> !important;
	background-image: none !important;
	color: <%= Colours::BACKGROUND %> !important;
}

#reviews-summary #correct li.radicals a,
#reviews-summary #correct li.radicals a i,
#reviews-summary #incorrect li.radicals a,
#reviews-summary #incorrect li.radicals a i,
#reviews #character.radical span,
#reviews #character.radical span i,
div.dashboard section.recent-unlocks tr[id|=radical] a span,
div.dashboard section.recent-unlocks tr[id|=radical] a time,
div.dashboard section.low-percentage tr[id|=radical] a span,
div.dashboard section.recent-retired tr[id|=radical] a span,
#search section.search-results li[id|=radical] span,
#search section.search-results li[id|=radical] li
{
	color: <%= Colours::BACKGROUND %> !important;
}

#reviews-summary #correct li.radicals,
#reviews-summary #incorrect li.radicals
{
	box-shadow: none !important;
}

#search section.search-results li[id|=radical]
{
	border-color: <%= Colours::RADICAL %> !important;
}

#lessons span.highlight-radical,
#reviews span.highlight-radical
{
	border: solid 1px;
	border-radius: 5px;
	border-color: <%= Colours::RADICAL %>;
}

div.navbar ul.nav li.radicals.open a.dropdown-toggle
{
	background-color: <%= Colours::RADICAL %> !important;
	opacity: 0.80;
}

div.navbar ul.nav li.radicals.open ul.dropdown-menu::before,
div.navbar ul.nav li.radicals.open ul.dropdown-menu::after
{
	content: '';
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-bottom: 9px solid <%= Colours::RADICAL %> !important;
	color: <%= Colours::RADICAL %> !important;
}

div.navbar ul.nav li.radicals.open ul.dropdown-menu
{
	background-color: <%= Colours::RADICAL %> !important;
}

div.navbar ul.nav li.radicals.open ul.dropdown-menu li a,
div.navbar ul.nav li.radicals.open a.dropdown-toggle,
div.navbar ul.nav li.radicals.open a.dropdown-toggle span,
div.navbar ul.nav li.radicals.open a.dropdown-toggle i,
div.navbar ul.nav li.radicals.open ul.dropdown-menu li.nav-header
{
	color: <%= Colours::BACKGROUND %> !important;
}

div.navbar ul.nav li.radicals.open ul.dropdown-menu li a:hover
{
	background-color: rgba(0,0,0,0.2) !important;
}
